<body>

   
    <mat-toolbar>
        <h1 class="ayosgamit" routerLink="/home" >Ayosgamit</h1>
    </mat-toolbar>
<div>
    <div>
    <img class="vector" mat-card-image src="../../assets/feedback.png">
    </div>

    <div class="descrip">
        <p><b>Feel free to</b></p>
        <p class="p2"><b>drop us your feedback.</b></p>
      
   </div>

    <mat-card>
        <div>
            <p class="p1">Overall, how satisfied are you with the service of our technicians?</p>
            
        </div>

      <div>
        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput placeholder="Tell something about our service..">
            
            
          </mat-form-field>
      </div>
        
        <div>
            <button class="sendBtn" mat-raised-button>Send Feedback</button>
        </div>
    </mat-card>

</div>

</body>
