@media (min-width: 820px)
{
.mat-toolbar
{
    background-color: #D62828;
    width: 100%;
}
  
  .ayosgamit
{
  font-family: 'Candara';
  font-size: 30px;
  float: left;
  color: #FFFFFF;
}

mat-card
{
    width: 600px;
    height: 600px; 
    float: right;
    margin-right: 450px;
    margin-top: 80px;
}

.vector
{
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 300px;
    margin-top: 250px !important;
}

h1
{
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.descrip
{
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    float: left;
    margin-left: -280px;
    margin-top: 150px;
}

.p1
{
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: center !important;
    margin-top: 20px;
}

.p2
{
    margin-top: -25px;
}

mat-form-field
{
    width: 70%;
    height: fit-content;
    position: center !important;
    margin-top: 250px;
}

.sendBtn
{
    width: 50%;
    height: 30%;
    background-color: #F77F00;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
}
}
