@media (min-width: 820px) {
    body {
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }
    mat-toolbar {
        width: 100%;
        height: 80px;
    }
    .logo {
        max-width: 200px;
        height: 100px !important;
        margin-left: 30px !important;
        margin-top: 15px !important;
    }
    .menuBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
        display: flex;
    }
    .menuBtn:hover,
    .menuBtn:active {
        color: #dd0346;
    }
    mat-icon {
        font-size: 30px;
        margin-top: 2px !important;
        display: flex;
    }
    .pricingBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        float: left;
        margin: 30px;
        margin-top: 40px;
        font-size: 17px;
    }
    .pricingBtn:hover,
    .pricingBtn:active {
        color: #dd0346;
    }
    .contactUsBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .contactUsBtn:hover,
    .contactUsBtn:active {
        color: #dd0346;
    }
    .aboutusBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .aboutusBtn:hover,
    .aboutusBtn:active {
        color: #dd0346;
    }
    .loginBtn {
        float: right !important;
        margin-right: 50px;
        width: 140px;
        height: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #dd0346;
        color: #FFFFFF;
        font-size: 15px;
    }
    .loginBtn:hover,
    .loginBtn:active {
        color: #f9dcc4;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .loginvector {
        width: 30%;
        margin-top: 60px !important;
        float: left;
        margin-left: 200px;
    }
    .logincard {
        background-color: #FFFFFF;
        width: 500px;
        height: 650px;
        float: right;
        margin-right: 300px;
        margin-top: 100px;
    }
    .title {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 27px;
        color: #590D22;
    }
    .mat-tab-group {
        width: 320px;
        text-align: center;
        margin-top: 20px;
    }
    .mat-tab-label {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .signup-fnamefield {
        min-height: 40px;
        width: 200px;
        margin-top: 20px;
        float: left;
        margin-left: 30px;
    }
    .signup-lnamefield {
        min-height: 40px;
        width: 200px;
        float: left;
        margin-top: 20px;
        margin-left: 30px;
    }
    .signup-emailfield {
        min-height: 40px;
        width: 400px;
        float: left;
        margin-left: 30px;
    }
    .signup-passfield {
        min-height: 40px;
        width: 400px;
        float: left;
        margin-left: 30px;
    }
    .propertyfield {
        margin-left: 30px;
        float: left;
    }
    .signup-addressfield {
        margin-left: 30px;
        width: 400px;
        float: left;
    }
    .accounttxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: left;
        margin-top: 20px;
        margin-left: 120px;
        color: #590D22;
    }
    .signupBtn {
        margin-top: 10px;
        margin-left: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background-color: #dd0346;
        color: #FFFFFF;
        height: 10%;
        width: 400px;
        height: 40px;
    }
    .signuptxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: left;
        margin-top: 20px;
        margin-left: 5px;
        color: #FFB703;
    }
    .signuptxt:hover {
        color: #14213D;
    }
    h1 {
        color: grey;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px !important;
        position: center !important;
        margin: auto;
    }
}

@media (max-width: 576px) {
    body {
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }
    .mat-toolbar {
        width: 100%;
        height: 80px;
    }
    .menuBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
        display: none;
    }
    .menuBtn:hover,
    .menuBtn:active {
        color: #dd0346;
        display: none;
    }
    .toolbarBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        margin: 25px;
        margin-top: 30px;
        display: none;
    }
    .toolbarBtn:hover,
    .toolbarBtn:active {
        color: #dd0346;
        display: none;
    }
    .loginBtn {
        float: right !important;
        width: 140px;
        height: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #dd0346;
        color: #FFFFFF;
        font-size: 15px;
        display: none;
    }
    .loginBtn:hover,
    .loginBtn:active {
        color: #f9dcc4;
        display: none;
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 27px;
        color: #590D22;
    }
    .signincard {
        width: 70%;
        height: 50%;
        border-radius: 20px;
        background-color: #fffade;
        justify-content: center;
        opacity: 1;
    }
    .loginvector {
        width: 30%;
        margin-top: 60px !important;
        float: left;
        margin-left: 200px;
        display: none;
    }
    .mat-tab-group {
        margin-top: 20px;
        width: 190px;
        text-align: center !important;
    }
    .logo {
        width: 50%;
        position: center !important;
        margin-top: 10px !important;
        margin: auto;
    }
    .signup-fnamefield {
        min-height: 40px;
        width: 300px;
        margin-left: 10px;
        margin-top: 50px;
    }
    .signup-lnamefield {
        min-height: 40px;
        width: 300px;
        margin-left: 10px;
    }
    .signup-emailfield {
        min-height: 40px;
        width: 300px;
        margin-left: 10px;
        border: #FCA311, 3px;
    }
    .signup-passfield {
        min-height: 40px;
        width: 300px;
        margin-left: 10px;
        border: #FCA311;
    }
    h1 {
        color: grey;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px !important;
        position: center !important;
        margin: auto;
    }
    .signupBtn {
        background-color: #dd0346;
        color: #FFFFFF;
        height: 10%;
        width: 85%;
        margin: auto;
    }
}