.mat-toolbar{
    width: 100%;
    height: fit-content;
    background-color: #D62828;
}
/* .mat-card-content{
    
} */
.navLink{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 5px;
}
.homebg1
{
    width: 100%;
    height: fit-content;
}
.spacer {
    flex: 1 1 auto;
}
.logo
{
    margin: 0;
    width: 120px;
    height: 100px;
    padding-right: 30px;
}
