@media (min-width: 820px)
{
    .container
    {
        background-image: url("../../assets/homebg.jpg");
        background-repeat: no-repeat;
        background-size: cover !important;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .logo
    {
        width: 10%;
        height: 10%;
        float: left !important;
        margin-left: 100px;
        margin-top: 20px;
    }

    
.content
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    
    
    margin-top: 250px;
}

.title1
{
    margin-top: -40px;
}

.title2
{
    margin-top: -40px;
}

.menu
{
    float: left;
    margin-left: 50px;
    margin-top: 80px;
}

.servicesBtn
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    margin-right: 150px;
}

.pricingBtn
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    margin-right: 150px;
}

.aboutusBtn
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 17px;
}

}


@media (max-width: 576px)
{
    .backgroundimg
    {
        background-image: url("../../assets/mobilebg.jpg") !important;
        background-repeat: no-repeat;
         width: 100%;
        height: 100%;
    }
}