@media (min-width: 820px) {
    .sidenav-container {
        height: 100%;
    }
    .sidenav {
        width: fit-content;
        width: 250px;
        background-color: #FFFFFF;
    }
    .mat-sidenav-content {
        height: 910px;
        background-color: white;
    }
    .mat-toolbar {
        background-color: #DD0346;
        width: 100%;
        height: 100px;
        box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .2);
    }
    .logo {
        max-width: 200px;
        height: 100px !important;
        float: left;
        margin-top: -20px !important;
        margin-left: 25px;
    }
    .adminvector {
        width: 95%;
        margin-top: -110px !important;
        margin-left: 10px;
    }
    .sidetitle {
        color: #003049;
        font-size: 20px;
        margin-top: -10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .nav-icon {
        color: #003049;
        font-size: 28px;
        margin-left: 20px;
        margin-top: 15px;
    }
    mat-list-item {
        background-color: transparent !important;
    }
    .dashboardside {
        margin-left: 0px;
        margin-top: 50px;
        text-align: justify;
        background-color: #D6B2BD;
        border-radius: 20px;
        width: 100%;
        height: 70px;
    }
    .dashboard-btn {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 25px;
        text-decoration: none;
    }
    .dashboardside:hover {
        background-color: #D6B2BD;
        border-radius: 20px;
        width: 100%;
        height: 70px;
        text-align: center !important;
    }
    .bookingside {
        margin-left: 0px;
        margin-top: 30px;
        text-align: justify;
    }
    .bookingside:hover {
        background-color: #D6B2BD;
        color: #FFFFFF;
        border-radius: 20px;
        width: 100%;
        height: 70px;
        text-align: center !important;
    }
    .booking-btn {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 25px;
    }
    .profileside {
        margin-left: 0px;
        margin-top: 30px;
        text-align: justify;
    }
    .profileside:hover {
        background-color: #D6B2BD;
        border-radius: 20px;
        width: 100%;
        height: 70px;
        text-align: center !important;
    }
    .profile-btn {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 25px;
    }
    .logoutside {
        margin-left: 0px;
        margin-top: 30px;
        text-align: justify;
    }
    .logout-btn {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: -5px;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 25px;
    }
    .logoutside:hover {
        background-color: #D6B2BD;
        color: #FFFFFF;
        border-radius: 20px;
        width: 100%;
        height: 70px;
        text-align: center !important;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .inboxicon {
        font-size: 30px;
        color: #14213D;
        margin-right: 20px;
    }
    .logoutBtn {
        font-size: 20px;
        color: antiquewhite;
    }
    .logoutBtn:hover {
        background-color: black;
    }
    .container {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
    }
    .headertitle {
        position: center !important;
        margin: auto;
    }
    .titletxt {
        color: #FFFFFF;
        font-size: 25px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px;
    }
    .backBtn {
        font-size: 20px;
        float: left;
        margin-top: 10px;
        margin-left: 50px;
        background-color: #FFFFFF;
    }
    .backicon {
        color: #dd0346;
        float: left;
        margin-left: 2px;
        font-size: 35px;
    }
    .backtxt {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        margin-top: -25px;
        margin-left: 50px;
    }
    .servicetype {
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        position: center;
        margin: auto;
    }
    .header {
        width: 750px;
        height: 200px;
        margin-top: -10px !important;
        position: center !important;
        margin: auto;
    }
    .assigncard {
        width: 470px;
        height: 650px;
        float: left;
        margin-left: 20px;
        margin-top: 50px !important;
    }
    .title {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin-top: -25px;
        margin-left: 40px;
    }
    .icon {
        color: #003049;
        font-size: 30px;
        margin-top: 5px;
        margin-left: 20px;
    }
    .personalinfotxt {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        margin-top: 25px;
    }
    .summary {
        width: 900px;
        height: 650px;
        float: left;
        margin-left: 80px;
        margin-top: 50px !important;
    }
    .remindervector {
        width: 20%;
        margin-top: -65px !important;
        float: left;
        margin-left: -50px;
    }
    .label {
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
    }
    .title {
        color: #b65e79;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        margin-top: 15px;
        margin-left: 70px;
    }
    table,
    tr,
    th,
    td {
        border: none;
    }
    .table {
        margin-top: 50px;
    }
    .header1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #b65e79;
        border: none;
    }
    .body1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color: #14213D;
        border: none;
    }
    .header2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: #b65e79;
        border: none;
    }
    .body2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color: #14213D;
        border: none;
    }
    .termschkbox {
        color: #003049;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        float: left;
        margin-left: 200px;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .activetitle {
        color: #b65e79;
        font-size: 25px;
        margin-top: 15px !important;
        margin-left: 25px !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .label2 {
        color: grey;
        font-size: 16px;
        margin-top: -5px;
        margin-left: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .techname {
        color: #003049;
        font-size: 18px;
        margin-left: 90px;
        margin-top: -43px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .listofactive {
        margin-top: 50px !important;
    }
    .usericon {
        font-size: 50px;
        color: grey;
        margin-left: 30px;
    }
    .proceedBtn {
        width: 100px;
        height: 40px;
        background-color: #F77F00;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        float: left;
        margin-left: 300px;
        margin-top: 10px;
    }
    .backBtn {
        font-size: 20px;
        float: left;
        margin: 5px;
        margin-top: 1px;
        color: #003049;
    }
    .back {
        font-size: 20px;
        float: left;
        margin-top: 3px;
        color: #003049;
    }
    .radioBtn {
        margin: 5px;
    }
    .assignBtn {
        width: 80px;
        height: 35px;
        margin-top: -35px;
        float: right;
        margin-right: 50px;
        background-color: #fcb42a;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
    }
    .acceptBtn {
        width: 100px;
        height: 50px;
        background-color: #fcb42a;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: right;
        margin: 5px;
        margin-top: 1px;
    }
    .acceptBtn:hover {
        color: #f9dcc4;
    }
    .rejectBtn {
        margin-top: -70px !important;
        width: 100px;
        height: 50px;
        background-color: #D62828;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: right;
        margin: 5px;
    }
    .rejectBtn:hover {
        color: #f9dcc4;
    }
}