<body>
    <mat-toolbar>
        <img class="logo" mat-card-image src="../../assets/mainlogo.png" routerLink="/home">
        <label class="menuBtn" [matMenuTriggerFor]="menu">Our Services<mat-icon>expand_more</mat-icon></label>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/menu_aircon">Aircon</button>
            <button mat-menu-item routerLink="/menu_ref">Refrigerator</button>
            <button mat-menu-item routerLink="/menu_fan">Electric Fan</button>
            <button mat-menu-item routerLink="/menu_washing">Washing Machine</button>
            <button mat-menu-item routerLink="/menu_tv">Television</button>
        </mat-menu>

        <label class="toolbarBtn" routerLink="/pricing">Pricing</label>
        <label class="toolbarBtn" routerLink="/contact_us">Contact Us</label>
        <label class="toolbarBtn" routerLink="/about_us">About Us</label>
        <div *ngIf="token != null; else notLogin">
            <label class="toolbarBtn" routerLink="/dashboard">My Account</label>
          </div>
          <ng-template #notLogin></ng-template>
          <span class="spacer"></span>
          <div *ngIf="token != null; else notLogin1"></div>
          <ng-template #notLogin1><button mat-raised-button class="loginBtn" routerLink="/login">Login / Sign Up</button></ng-template>
    </mat-toolbar>

    <div>
        <mat-card>
            <div>
                <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            </div>

            <h1 class="title">About Us</h1>


            <div class="description">
                <p>Ayosgamit was established July 14, 2021. Our services includes Repair, Check-up, Estimate, </p>
                <p> Installation, Cleaning, Maintenance for all tyes and brands of home appliances. We guarantee</p>
                <p>users to easily book a professional technician at any time and from anywhere.</p>
            </div>

        </mat-card>
    </div>
</body>
<footer class="footer">© 2021 Ayosgamit - All Rights Reserved</footer>