<body>
    <mat-toolbar>
        <h1 class="ayosgamit" routerLink="/home" >Ayosgamit</h1>

        <div>
            <button mat-button class="menuBtn" [matMenuTriggerFor]="menu">Our Services<mat-icon>expand_more</mat-icon>
                </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/menu_aircon">Aircon</button>
                <button mat-menu-item routerLink="/menu_ref">Refrigerator</button>
                <button mat-menu-item routerLink="/menu_fan">Electric Fan</button>
                <button mat-menu-item routerLink="/menu_washing">Washing Machine</button>
                <button mat-menu-item routerLink="/menu_tv">Television</button>
            </mat-menu>
        </div>
        <div>
            <button mat-button class="pricingBtn" routerLink="/pricing">Pricing</button>
            <button mat-button class="contactUsBtn" routerLink="/contact_us">Contact Us</button>
            <button mat-button class="aboutusBtn" routerLink="/about_us">About Us</button>
        </div>
    </mat-toolbar>

    <div>
        <mat-card>
            <div>
                <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            </div>

            <h1 class="title">About Us</h1>


            <div class="description">
                <p>Ayosgamit was established July 14, 2021. Our services includes Repair, Check-up, Estimate, </p>
                <p> Installation, Cleaning, Maintenance for all tyes and brands of home appliances. We guarantee</p>
                <p>users to easily book a professional technician at any time and from anywhere.</p>
            </div>

        </mat-card>
    </div>
</body>
<footer class="footer">© 2021 Ayosgamit - All Rights Reserved</footer>