<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <br>
        <mat-nav-list class="nav-list">
            <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            <div class="dashboardside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label>dashboard</mat-icon>
                    <a class="dashboard-btn" routerLink="/admin">Dashboard</a>
                </mat-list-item>
            </div>
            <div class="bookingside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">worker</mat-icon>
                    <a class="booking-btn" routerLink="/technicians">Technicians</a>
                </mat-list-item>
            </div>

            <div class="feedbackside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">feedback</mat-icon>
                    <a class="feedback-btn" routerLink="/technicians">Feedbacks</a>
                </mat-list-item>
            </div>

            <div class="profileside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
                    <a class="profile-btn" routerLink="/user">Users</a>
                </mat-list-item>
            </div>
            <div class="logoutside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon">exit_to_app</mat-icon>
                    <a class="logout-btn" (click)="logout()">Logout</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        </mat-toolbar>

        <button class="backBtn" routerLink="/technicians" mat-icon-button>
            <mat-icon class="backicon">chevron_left</mat-icon>
          </button>


        <div class="mat-dialog-content">

            <div class="container">
                <img class="vector" mat-card-image src="../../assets/fillout.png">
                <form [formGroup]="addTech" (ngSubmit)="submit()">
                    <div class="card">

                        <mat-form-field class="textfield" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="tech_name" pattern="[a-zA-Z_ ]{1,30}" placeholder="Juan Dela Cruz" [errorStateMatcher]="matcher" autocomplete="off">
                            <mat-error *ngIf="addTech.get('tech_name').hasError('required')">
                                Input Technicians full name
                            </mat-error>
                            <mat-error *ngIf="addTech.get('tech_name').hasError('pattern')">
                                Invalid Technicians name
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="genderfield" appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="tech_gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field class="birthdate" appearance="outline">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="tech_birthdate">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="textfield" appearance="outline">
                            <mat-label>Contact Number</mat-label>
                            <input matInput formControlName="tech_number" #input pattern="(09)[0-9]{9}" maxlength="11" placeholder="09XXXXXXXXX" [errorStateMatcher]="matcher" autocomplete="off">
                            <mat-hint>{{input.value?.length || 0}}/11</mat-hint>
                            <mat-error *ngIf="addTech.get('tech_number').hasError('required')">
                                Input Technicians contact number.
                            </mat-error>
                            <mat-error *ngIf="addTech.get('tech_number').hasError('pattern')">
                                Invalid contact number.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="textfield" appearance="outline">
                            <mat-label>Home Address</mat-label>
                            <input matInput formControlName="tech_address" [errorStateMatcher]="matcher" autocomplete="off">
                            <mat-error *ngIf="addTech.get('tech_address').hasError('required')">
                                Input Technicians address
                            </mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-raised-button type="submit" class="addBtn">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>