    @media (min-width: 820px) {
        .sidenav-container {
            height: 100%;
        }
        .sidenav {
            width: fit-content;
            width: 250px;
            background-color: #FFFFFF;
        }
        .mat-sidenav-content {
            height: 910px;
            background-color: white;
        }
        .mat-toolbar {
            background-color: #DD0346;
            width: 100%;
            height: 200px;
            box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .2);
        }
        .logo {
            max-width: 200px;
            height: 100px !important;
            float: left;
            margin-top: -20px !important;
            margin-left: 25px;
        }
        .adminvector {
            width: 95%;
            margin-top: -110px !important;
            margin-left: 10px;
        }
        .sidetitle {
            color: #003049;
            font-size: 20px;
            margin-top: -10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
        .nav-icon {
            color: #003049;
            font-size: 28px;
            margin-left: 20px;
            margin-top: 15px;
        }
        mat-list-item {
            background-color: transparent !important;
        }
        .dashboardside {
            margin-left: 0px;
            margin-top: 50px;
            text-align: justify;
            background-color: #D6B2BD;
            border-radius: 20px;
            width: 100%;
            height: 70px;
        }
        .dashboard-btn {
            color: #003049;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            margin-left: 20px;
            margin-top: 25px;
            text-decoration: none;
        }
        .dashboardside:hover {
            background-color: #D6B2BD;
            border-radius: 20px;
            width: 100%;
            height: 70px;
            text-align: center !important;
        }
        .bookingside {
            margin-left: 0px;
            margin-top: 30px;
            text-align: justify;
        }
        .bookingside:hover {
            background-color: #D6B2BD;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100%;
            height: 70px;
            text-align: center !important;
        }
        .booking-btn {
            color: #003049;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            margin-left: 20px;
            margin-top: 25px;
        }
        .profileside {
            margin-left: 0px;
            margin-top: 30px;
            text-align: justify;
        }
        .profileside:hover {
            background-color: #D6B2BD;
            border-radius: 20px;
            width: 100%;
            height: 70px;
            text-align: center !important;
        }
        .profile-btn {
            color: #003049;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            margin-left: 20px;
            margin-top: 25px;
        }
        .logoutside {
            margin-left: 0px;
            margin-top: 30px;
            text-align: justify;
        }
        .logout-btn {
            color: #003049;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: -5px;
            font-size: 16px;
            margin-left: 20px;
            margin-top: 25px;
        }
        .logoutside:hover {
            background-color: #D6B2BD;
            color: #FFFFFF;
            border-radius: 20px;
            width: 100%;
            height: 70px;
            text-align: center !important;
        }
        .spacer {
            flex: 1 1 auto;
        }
        .dashtitle1 {
            color: #FFFFFF;
            font-size: 25px;
            float: left;
            margin-left: 100px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 30px;
        }
        .dashtitle2 {
            color: #FFFFFF;
            font-size: 15px;
            float: left;
            margin-left: -195px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 60px;
        }
        .dashtitle3 {
            color: #FFFFFF;
            font-size: 15px;
            float: left;
            margin-left: -50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 60px;
        }
        .container {
            width: auto;
            height: auto;
        }
        .adminvector {
            width: 95%;
            margin-top: -110px !important;
            margin-left: 10px;
        }
        .sidetitle {
            color: #003049;
            font-size: 20px;
            margin-top: -10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
        .mat-tab-group {
            width: fit-content;
            padding-top: 50px;
        }
        .container {
            margin: auto;
            width: auto;
        }
        .scheduledcard {
            width: fit-content;
            height: 250px;
            float: left;
            margin-top: 20px;
            overflow: scroll;
        }
        .title {
            font-size: 20px;
            color: #590D22;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 30px;
        }
        table,
        tr,
        td {
            border: none;
        }
        .header {
            font-size: 13px;
            color: grey;
            font-family: 'Trebuchet MS';
            border: none;
        }
        .content1 {
            font-size: 15px;
            color: #003049;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: none;
        }
        .searchfield {
            height: 30px;
            width: 300px;
            font-family: 'Trebuchet MS';
            float: right;
            margin-top: -40px;
        }
        .newreq {
            margin-top: 15px;
            width: fit-content;
            height: 400px;
            border: 2px solid #E5E5E5;
            overflow: scroll;
        }
        .h1new {
            font-size: 18px;
            font-family: 'Trebuchet MS';
            margin-left: 10px;
        }
        .pendingreq {
            margin-top: 15px;
            width: fit-content;
            height: 400px;
            border: 2px solid #E5E5E5;
            overflow: scroll;
        }
        .h1pending {
            font-size: 18px;
            font-family: 'Trebuchet MS';
            margin-left: 10px;
        }
        .completedreq {
            margin-top: 15px;
            width: fit-content;
            height: 400px;
            border: 2px solid #E5E5E5;
            overflow: scroll;
        }
        .h1completed {
            font-size: 18px;
            font-family: 'Trebuchet MS';
            margin-left: 10px;
        }
        .cancelledreq {
            margin-top: 15px;
            width: fit-content;
            height: 400px;
            border: 2px solid #E5E5E5;
            overflow: scroll;
        }
        .h1cancelled {
            font-size: 18px;
            font-family: 'Trebuchet MS';
            margin-left: 10px;
        }
        .h1resched {
            font-size: 18px;
            font-family: 'Trebuchet MS';
            margin-left: 10px;
        }
        .table {
            width: 100%;
            height: fit-content;
            margin-top: 50px;
        }
        table {
            width: 1100px;
        }
        .header,
        td {
            text-align: center;
        }
        .acceptBtn {
            background-color: #0d9130;
            margin: 5px;
        }
        .rejectBtn {
            background-color: #D62828;
            margin: 5px;
        }
        .detailsBtn {
            background-color: #fcb42a;
            color: #FFFFFF;
            margin: 5px;
        }
    }