<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
        <br>
        <mat-nav-list class="nav-list">
            <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            <img class="adminvector" mat-card-image src="../../assets/admin.png">

            <h1 class="sidetitle">Admin</h1>

            <div class="dashboardside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label>dashboard</mat-icon>
                    <a class="dashboard-btn" routerLink="/admin">Dashboard</a>
                </mat-list-item>
            </div>
            <div class="bookingside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">worker</mat-icon>
                    <a class="booking-btn" routerLink="/technicians">Technicians</a>
                </mat-list-item>
            </div>
            <div class="feedbackside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">feedback</mat-icon>
                    <a class="feedback-btn" routerLink="/feedback">Feedbacks</a>
                </mat-list-item>
            </div>
            <div class="profileside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
                    <a class="profile-btn" routerLink="/user">Users</a>
                </mat-list-item>
            </div>
            <div class="logoutside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon">exit_to_app</mat-icon>
                    <a class="logout-btn" (click)="logout()">Logout</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div>
                <h1 class="dashtitle1">Welcome, Admin!</h1>

                <h1 class="dashtitle2">{{date | date: "MMMM dd, yyyy "}}</h1>
                <h1 class="dashtitle3">{{date | date: "h:mm:a'"}}</h1>
            </div>
        </mat-toolbar>
        <div class="container">
            <mat-card class="scheduledcard">
                <h1 class="title">
                    Today's Scheduled Requests ({{date | date: "MMMM dd, yyyy "}})
                </h1>
                <div class="table">
                    <table>
                        <thead class="head">
                            <tr>
                                <th scope="col" class="header">Name</th>
                                <th scope="col" class="header">Service Type</th>
                                <th scope="col" class="header">Date</th>
                                <th scope="col" class="header">TimeSlot</th>
                                <th scope="col" class="header">Service Address</th>
                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr *ngFor="let pr of pending_request">
                                <td class="content1">{{pr.service_appliance}}</td>
                                <td class="content1">{{pr.service_type}}</td>
                                <td class="content1">{{pr.service_date | date }}</td>
                                <td class="content1">{{pr.service_timeslot}}</td>
                                <td class="content1">{{pr.service_address}}</td>
                                <td>
                                    <button mat-raised-button class="detailsBtn" [routerLink]="['/requestdetail/' + pr._id]">Details</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>

            <mat-tab-group>
                <mat-tab label="New Requests">
                    <mat-card class="newreq">
                        <h1 class="h1new">New Requests</h1>
                        <!-- <mat-form-field class="searchfield" appearance="outline">
                            <mat-label>
                                <mat-icon>find_in_page</mat-icon>Search..
                            </mat-label>
                            <input matInput>
                        </mat-form-field> -->
                        <div class="table">
                            <table>
                                <thead class="head">
                                    <tr>
                                        <th scope="col" class="header">Appliance</th>
                                        <th scope="col" class="header">Service Type</th>
                                        <th scope="col" class="header">Date</th>
                                        <th scope="col" class="header">TimeSlot</th>
                                        <th scope="col" class="header">Service Address</th>
                                    </tr>
                                </thead>
                                <tbody class="body">
                                    <tr *ngFor="let pr of pending_request">
                                        <td class="content1">{{pr.service_appliance}}</td>
                                        <td class="content1">{{pr.service_type}}</td>
                                        <td class="content1">{{pr.service_date | date }}</td>
                                        <td class="content1">{{pr.service_timeslot}}</td>
                                        <td class="content1">{{pr.service_address}}</td>
                                        <td>
                                            <button mat-raised-button class="detailsBtn" [routerLink]="['/requestdetail/' + pr._id]">Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Approved Requests">
                    <mat-card class="pendingreq">
                        <h1 class="h1pending">Pending Requests</h1>
                        <!-- <mat-form-field class="searchfield" appearance="outline">
                            <mat-label>
                                <mat-icon>find_in_page</mat-icon>Search..
                            </mat-label>
                            <input matInput>
                        </mat-form-field> -->
                        <div class="table">
                            <table>
                                <thead class="head">
                                    <tr>
                                        <th scope="col" class="header">Service ID</th>
                                        <th scope="col" class="header">Service Appliance</th>
                                        <th scope="col" class="header">Service Type</th>
                                        <th scope="col" class="header">Status</th>
                                    </tr>
                                </thead>
                                <tbody class="body">
                                    <tr *ngFor="let ar of approved_request">
                                        <td><b>{{ar._id | slice:0:8}}</b></td>
                                        <td>{{ar.service_appliance}}</td>
                                        <td>{{ar.service_type}}</td>
                                        <td>{{ar.status}}</td>
                                        <td>
                                            <button mat-raised-button class="detailsBtn" [routerLink]="['/completedetail/' + ar._id]">Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Completed Requests">
                    <mat-card class="completedreq">
                        <h1 class="h1completed">Completed Requests</h1>
                        <!-- <mat-form-field class="searchfield" appearance="outline">
                            <mat-label>
                                <mat-icon>find_in_page</mat-icon>Search..
                            </mat-label>
                            <input matInput>
                        </mat-form-field> -->
                        <div class="table">
                            <table>
                                <thead class="head">
                                    <tr>
                                        <th scope="col" class="header">Service ID</th>
                                        <th scope="col" class="header">Service Appliance</th>
                                        <th scope="col" class="header">Service Type</th>
                                        <th scope="col" class="header">Status</th>
                                    </tr>
                                </thead>
                                <tbody class="body">
                                    <tr *ngFor="let cr of completed_request">
                                        <td><b>{{cr._id | slice:0:8}}</b></td>
                                        <td>{{cr.service_appliance}}</td>
                                        <td>{{cr.service_type}}</td>
                                        <td>{{cr.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Cancelled Requests">
                    <mat-card class="cancelledreq">
                        <h1 class="h1cancelled">Cancelled Requests</h1>
                        <!-- <mat-form-field class="searchfield" appearance="outline">
                            <mat-label>
                                <mat-icon>find_in_page</mat-icon>Search..
                            </mat-label>
                            <input matInput>
                        </mat-form-field> -->
                        <div class="table">
                            <table>
                                <thead class="head">
                                    <tr>
                                        <th scope="col" class="header">Service ID</th>
                                        <th scope="col" class="header">Service Type</th>
                                        <th scope="col" class="header">Status</th>
                                        <th scope="col" class="header">Reason</th>
                                    </tr>
                                </thead>
                                <tbody class="body">
                                    <tr *ngFor="let car of cancelled_request">
                                        <td><b>{{car._id | slice:0:8}}</b></td>
                                        <td>{{car.service_type}}</td>
                                        <td>{{car.status}}</td>
                                        <td>{{car.reason}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Rejected Requests">
                    <mat-card class="cancelledreq">
                        <h1 class="h1cancelled">Rejected Requests</h1>
                        <!-- <mat-form-field class="searchfield" appearance="outline">
                            <mat-label>
                                <mat-icon>find_in_page</mat-icon>Search..
                            </mat-label>
                            <input matInput>
                        </mat-form-field> -->
                        <div class="table">
                            <table>
                                <thead class="head">
                                    <tr>
                                        <th scope="col" class="header">Service ID</th>
                                        <th scope="col" class="header">Service Appliance</th>
                                        <th scope="col" class="header">Service Type</th>
                                        <th scope="col" class="header">Status</th>
                                        <th scope="col" class="header">Reason</th>
                                    </tr>
                                </thead>
                                <tbody class="body">
                                    <tr *ngFor="let rejreq of rejected_request">
                                        <td><b>{{rejreq._id | slice:0:8}}</b></td>
                                        <td>{{rejreq.service_appliance}}</td>
                                        <td>{{rejreq.service_type}}</td>
                                        <td>{{rejreq.status}}</td>
                                        <td>{{rejreq.reason}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>