<div class="dashboard">

    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>
        <img class="logo" mat-card-image src="../../assets/techleanlogoyellow.png">
        
      <div class="dashboardside">
        <mat-icon class="homeicon" aria-hidden="false" aria-label>dashboard</mat-icon>
        <button class="dashBtn" mat-button><a class="dashlink" routerLink="/dashboard">Dashboard</a></button>
      </div>
  
      <div class="bookingside">
        <mat-icon class="bookingicon" aria-hidden="false" aria-label="">insert_invitation</mat-icon>
        <button class="bookingBtn" mat-button><a class="bookinglink" routerLink="/bookingform">Book a Service</a></button>
      </div>
  
      <div class="profileside">
        <mat-icon class="profileicon" aria-hidden="false" aria-label="">account_circle</mat-icon>
        <button class="profileBtn" mat-button><a class="profilelink" routerLink="/bookingform">Profile</a></button>
      </div>
  
      <div class="paymentside">
        <mat-icon class="paymenticon" aria-hidden="false" aria-label="">credit_card</mat-icon>
        <button class="paymentBtn" mat-button><a class="paymentlink" routerLink="/paymentform">Payment</a></button>
      </div>
  
  
  
  
      </mat-drawer>
  
      <mat-drawer-content>
  
        <h1 class="dashboardtxt">Dashboard</h1>
        
    <div>
        <h2 class="welcome">Welcome, Admin!</h2>
            <mat-icon class="inboxicon" matBadge="15" matBadgeColor="warn">inbox</mat-icon>
                <mat-icon class="logouticon" aria-hidden="false" aria-label="">power_settings_new</mat-icon>
    </div>
        <button class="logoutBtn" mat-button><a routerLink="/homepage">Logout</a></button>
        
        <h2 class="reqstatus">Request Status</h2>
    <div>
        <mat-card class="pendingcard">
            <img class="pendingbg" mat-card-image src="../../assets/pendingbg.jpg"> 
               <h1 class="pendingtxt">Pending Requests</h1>
               <h2 class="pendingcount">10</h2>
        </mat-card>
    
        <mat-card class="completedcard">
            <img class="completedbg" mat-card-image src="../../assets/completedbg.jpg"> 
                <h1 class="completedtxt">Completed Requests</h1>
                <h2 class="completedcount">5</h2>
        </mat-card>
        
        <mat-card class="cancelledcard">
            <img class="cancelledbg" mat-card-image src="../../assets/cancelledbg.jpg"> 
                <h1 class="cancelledtxt">Cancelled Requests</h1>
                <h2 class="cancelledcount">5</h2>
        </mat-card>
   </div>
       
   <div>

    <mat-card class="pendingcard2">
       
    </mat-card>

   </div>
       
    
  