.sidenav-container {
  height: 100%;
}

.sidenav{
  width: fit-content;
  width: 280px;
  background-color: #EAE2B7;
}

.mat-sidenav-content{
   height: 910px;
   background-color: white;
}

.mat-toolbar{
  background-color: #D62828;
  width: 100%;
}

.logo{
  width: 180px;
  height: 150px;
  padding-top: 40px;
  margin-left: 55px;
}

.nav-icon{
  color: #003049;
  font-size: 35px;
  margin-left: 25px;
  margin-top: -12px;
}

.dashboardside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.dashboardside:hover
{
    background-color: #c8c19c;
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.dashboard-btn{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.bookingside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.bookingside:hover
{
    background-color: #c8c19c;
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.booking-btn{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}

.profileside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.profileside:hover
{
    background-color: #c8c19c;
    
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.profile-btn
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}
.logoutside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.logoutside:hover
{
    background-color: #c8c19c;
    
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.logout-btn
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}
.spacer{
  flex: 1 1 auto;
}
.ayosgamit
{
  font-family: 'Candara';
  font-size: 30px;
  margin-left: 10px;
  color: #FFFFFF;
}
.welcome
{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
margin-top: 3px;
color: #FFFFFF;
}

.dashtitle
{
  color: #003049;
  font-size: 30px;
  margin-top: 40px;
  float: left;
  margin-left: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.datetime
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #003049;
  font-size: 18px;
  float: left;
  margin-left: -145px;
  margin-top: 80px;
}

.dashvector
{ 
  width: 20%;
  height: 20%;
  float: left;
  margin-left: 300px;
  margin-top: 70px !important;

}

 .mat-tab-group
 {
    width: fit-content;
    margin-top: 100px;
    margin-left: 50px;
 }

 .searchfield
 {
   height: 30px;
   width: 300px;
   font-family: 'Trebuchet MS';
   float: right;
   margin-top: -40px;
 }
 
 .newreq
 {
   margin-left: 20px;
   margin-top: 15px;
   width: 1290px;
   height: 400px;
   border: 2px solid #E5E5E5;
 }
 
 .h1new
 {
   font-size: 18px;
   font-family: 'Trebuchet MS';
   margin-left: 10px;
 }

 .pendingreq
 {
   margin-left: 15px;
   margin-top: 15px;
   width: 1290px;
   height: 400px;
   border: 2px solid #E5E5E5;
 }
 
 .h1pending
 {
   font-size: 18px;
   font-family: 'Trebuchet MS';
   margin-left: 10px;
 }

 .completedreq
{
  margin-left: 20px;
  margin-top: 15px;
  width: 1290px;
  height: 400px;
  border: 2px solid #E5E5E5;
}

.h1completed
{
  font-size: 18px;
  font-family: 'Trebuchet MS';
  margin-left: 10px;
}

.cancelledreq
{
  margin-left: 20px;
  margin-top: 15px;
  width: 1290px;
  height: 400px;
  border: 2px solid #E5E5E5;
}

.h1cancelled
{
  font-size: 18px;
  font-family: 'Trebuchet MS';
  margin-left: 10px;
}

.reschedreq
{
  margin-left: 20px;
  margin-top: 15px;
  width: 1290px;
  height: 400px;
  border: 2px solid #E5E5E5;
}

.h1resched
{
  font-size: 18px;
  font-family: 'Trebuchet MS';
  margin-left: 10px;
}
