<div class="dashboard">

  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <img class="logo" mat-card-image src="../../assets/techleanlogoyellow.png">
      
    <div class="dashboardside">
      <mat-icon class="homeicon" aria-hidden="false" aria-label>dashboard</mat-icon>
      <button class="dashBtn" mat-button><a class="dashlink">Dashboard</a></button>
    </div>

    <div class="workersside">
      <mat-icon class="workericon" aria-hidden="false" aria-label="">face</mat-icon>
      <button class="workerBtn" mat-button><a class="workerlink" routerLink="/bookingform">Workers</a></button>
    </div>

   </mat-drawer>

    <p>
      <mat-toolbar class="toolbar">
        <img class="techleantxt" mat-card-image src="../../assets/techleantxt.png">
        <div>
          <mat-icon class="inboxicon" matBadge="15" matBadgeColor="warn">inbox</mat-icon>
            <mat-icon class="logouticon" aria-hidden="false" aria-label="">power_settings_new</mat-icon>
         </div>
      </mat-toolbar>
    </p>


<div>
<img class="adminicon" mat-card-image src="../../assets/adminicon.png">
</div>

<div>
  <mat-card class="workercard">
    <img class="workerbg" mat-card-image src="../../assets/workerbg.jpg"> 
      <h1 class="workertxt">New Requests</h1>
        <h2 class="workercount">10</h2>
  </mat-card>

  <mat-card class="registeredcard">
    <img class="registeredbg" mat-card-image src="../../assets/reguserbg.jpg"> 
      <h1 class="registeredtxt">Registered Users</h1>
       <h2 class="registeredcount">10</h2>
  </mat-card>
    
 
</div>
   
<div>
  <mat-tab-group>
    <mat-tab label="New Requests">
      <mat-card class="newreq">
        <h1 class="h1new">New Requests</h1>
          <mat-form-field class="searchfield" appearance="outline">
            <mat-label><mat-icon>find_in_page</mat-icon>Search..</mat-label>
              <input matInput>
          </mat-form-field>

          <div>
            <h1 class="serviceid">Service ID</h1>
           </div>
    
          <div>
            <h1 class="name">Name</h1>
          </div>
    
          <div>
            <h1 class="appdate">Appointed Date</h1>
          </div>
    
          <div>
            <h1 class="time">Time</h1>
          </div>

          <div>
            <h1 class="address">Address</h1>
          </div>
    
          <div>
            <h1 class="dateapp">Date Appointed</h1>
          </div>
      </mat-card>
    </mat-tab>


    <mat-tab label="Pending Requests">  
      <mat-card class="pendingreq">
        <h1 class="h1pending">Pending Requests</h1>
          <mat-form-field class="searchfield" appearance="outline">
            <mat-label><mat-icon>find_in_page</mat-icon>Search..</mat-label>
              <input matInput>
          </mat-form-field>

          <div>
            <h1 class="serviceid">Service ID</h1>
           </div>
    
          <div>
            <h1 class="name">Name</h1>
          </div>
    
          <div>
            <h1 class="appdate">Appointed Date</h1>
          </div>
    
          <div>
            <h1 class="time">Time</h1>
          </div>

          <div>
            <h1 class="address">Address</h1>
          </div>
    
          <div>
            <h1 class="dateapp">Date Appointed</h1>
          </div>
     </mat-card>
  </mat-tab>

  <mat-tab label="Completed Requests"> 
    <mat-card class="completedreq">
      <h1 class="h1completed">Completed Requests</h1>
        <mat-form-field class="searchfield" appearance="outline">
          <mat-label><mat-icon>find_in_page</mat-icon>Search..</mat-label>
            <input matInput>
        </mat-form-field>

        <div>
          <h1 class="serviceid">Service ID</h1>
         </div>
  
        <div>
          <h1 class="name">Name</h1>
        </div>
  
        <div>
          <h1 class="appdate">Appointed Date</h1>
        </div>
  
        <div>
          <h1 class="time">Time</h1>
        </div>

        <div>
          <h1 class="address">Address</h1>
        </div>
  
        <div>
          <h1 class="dateapp">Date Appointed</h1>
        </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Cancelled Requests">
    <mat-card class="cancelledreq">
      <h1 class="h1cancelled">Cancelled Requests</h1>
        <mat-form-field class="searchfield" appearance="outline">
          <mat-label><mat-icon>find_in_page</mat-icon>Search..</mat-label>
            <input matInput>
        </mat-form-field>

        <div>
          <h1 class="serviceid">Service ID</h1>
         </div>
  
        <div>
          <h1 class="name">Name</h1>
        </div>
  
        <div>
          <h1 class="appdate">Appointed Date</h1>
        </div>
  
        <div>
          <h1 class="time">Time</h1>
        </div>

        <div>
          <h1 class="address">Address</h1>
        </div>
  
        <div>
          <h1 class="dateapp">Date Appointed</h1>
        </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>

</div>







    
  