<mat-toolbar>
  <img class="logo" mat-card-image src="../../assets/mainlogo.png" routerLink="/home">
        <label class="homeBtn" routerLink="/dashboard">Home</label>
        <label class="menuBtn" [matMenuTriggerFor]="menu">Our Services<mat-icon>expand_more</mat-icon></label> 
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/menu_aircon">Aircon</button>
              <button mat-menu-item routerLink="/menu_ref">Refrigerator</button>
              <button mat-menu-item routerLink="/menu_fan">Electric Fan</button>
              <button mat-menu-item routerLink="/menu_washing">Washing Machine</button>
              <button mat-menu-item routerLink="/menu_tv">Television</button>
            </mat-menu>

            <label class="pricingBtn" routerLink="/pricing">Pricing</label>
            <label class="contactUsBtn" routerLink="/contact_us">Contact Us</label>
            <label class="aboutusBtn" routerLink="/about_us">About Us</label>      
</mat-toolbar> 

    <h1 class="backBtn" routerLink="/booking">
      <mat-icon class="backicon">chevron_left</mat-icon>
    </h1>
    <h1 class="h1title">Appliance to Repair</h1>

    <div class="allservices">
      <mat-card class="airconcard">
        <mat-card-content>
          <img class="airconimg" mat-button (click)="AirconOpen()" mat-card-image src="../../assets/airconicon.png"
            mat-dialog-close>
          <h1 class="aircontxt" mat-button (click)="AirconOpen()" mat-dialog-close>Aircon</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="refcard">
        <mat-card-content>
          <img class="refimg" mat-button (click)="RefrigeratorOpen()" mat-card-image src="../../assets/reficon.png"
            mat-dialog-close>
          <h1 class="reftxt" mat-button (click)="RefrigeratorOpen()" mat-dialog-close>Refrigerator</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="fancard">
        <mat-card-content>
          <img class="fanimg" mat-button (click)="ElectricfanOpen()" mat-card-image src="../../assets/efanicon.png"
            mat-dialog-close>
          <h1 class="fantxt" mat-button (click)="ElectricfanOpen()" mat-dialog-close>Electric Fan</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="washingcard">
        <mat-card-content>
          <img class="washingimg" mat-button (click)="WashingmachineOpen()" mat-card-image
            src="../../assets/washingicon.png" mat-dialog-close>
          <h1 class="washingtxt" mat-button (click)="WashingmachineOpen()" mat-dialog-close>Washing Machine</h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="tvcard">
        <mat-card-content>
          <img class="tvimg" mat-button (click)="TelevisionOpen()" mat-card-image src="../../assets/tvicon.png"
            mat-dialog-close>
          <h1 class="tvtxt" mat-button (click)="TelevisionOpen()" mat-dialog-close>Television</h1>
        </mat-card-content>
      </mat-card>
    </div>

