@media (min-width: 820px)
{

.mat-toolbar{
    background-color: #D62828;
    width: 100%;
  }
  
  .ayosgamit
  {
  font-family: 'Candara';
  font-size: 30px;
  float: left;
  color: #FFFFFF;
  }
p
{
    margin-top: 50px;
    font-size: 15px;
    margin-left: 20px;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resched
{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    color: #14213D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.datepicker
{
    margin-top: 25px;
    margin-left: 20px;
}

.dateBtn
{
    margin-left: 15px;
    border-color: #F77F00;
    color: #F77F00;
    width: 70px !important;
    height: 50px !important;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.timeslot
{
  margin-top: 30px;
  float: left;
  margin-left: 20px;
  font-size: 15px;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timeslots
{
    margin-left: 20px;
    margin-top: 70px;
}


.mat-stroked-button
{
    border-color: #FCA311;
    width: 180px;
    height: 60px;
}

  
.tech1Btn
  {
  margin-top: -110px;
  }
  
  .h1technicians
  {
   font-size: 12px;
   font-family: 'Trebuchet MS';
  }

 .cancelBtn
 {
   width: 120px;
   height: 40px;
   background-color: #D62828;
   color: #FFFFFF;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 13px;
   float: right;
   margin-right: 20px;
   margin-top: 70px;
   
   
 }
 .container{
  width: 100%;
  height: 100%;
}
.summary
{
  width: fit-content;
  height: fit-content;
  margin-top: 100px !important;
  position: center !important;
  margin: auto;
}
 .reschedBtn
{
  width: 160px;
  height: 40px;
  background-color: #F77F00;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  float: right;
  margin-top: 40px;
  margin-right: 25px;
}
.backBtn{
  width: 100px !important;
  height: 40px !important;
  font-size: 17px;
  font-family: 'Trebuchet MS';
  border-color: #dd0346 !important;
  color: #a4133c !important;
  float: left !important;
  margin-top: 40px;
  margin-left: 10px !important;
}

}

@media (max-width: 576px)
{
    .mat-toolbar{
        background-color: #D62828;
        width: 100%;
      }
      
      .ayosgamit
      {
      font-family: 'Candara';
      font-size: 20px;
      float: left;
      color: #FFFFFF;
      }
    
    mat-card
    {
        width: 350px;
        height: 600px;
        position: center !important;
        margin: auto;
        margin-top: 100px;
    }
    
    
    p
    {
        margin-top: 50px;
        font-size: 15px;
        margin-left: 15px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .resched
    {
        font-size: 18px;
        margin-top: 30px;
        margin-left: 20px;
        color: #14213D;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .datepicker
    {

        margin-top: 25px;
        margin-left: 20px;
    }
    
    .dateBtn
    {
        
        margin-top: 25px;
        margin-left: 20px;
        border-color: #F77F00;
        color: #F77F00;
        width: 10% !important;
        height: 50px !important;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .timeslot
    {
      margin-top: 30px;
      float: left;
      margin-left: 20px;
      font-size: 15px;
      color: grey;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .timeslots
    {
        margin-left: 20px;
        margin-top: 70px;
    }
    .time{
      color: black;
    }
    
    
    .mat-stroked-button
    {
        border-color: #FCA311;
        width: 180px;
        height: 60px;
    }
    
      
    .tech1Btn
      {
      margin-top: -100px;
      }
      
      
      .h1technicians
      {
       font-size: 12px;
       font-family: 'Trebuchet MS';
      }
    
     .reschedBtn
    {
      width: 160px;
      height: 40px;
      background-color: #F77F00;
      color: #FFFFFF;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      float: right;
      margin-top: 70px;
      margin-right: 25px;
    }

}
