@media (min-width: 820px) {
    .mat-toolbar {
        width: 100%;
        height: 80px;
    }
    .logo {
        max-width: 200px;
        height: 100px !important;
        margin-left: 30px !important;
        margin-top: 20px !important;
    }
    .homeBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-left: 80px;
        margin-top: 40px;
    }
    .homeBtn:hover,
    .homeBtn:active {
        color: #dd0346;
    }
    .menuBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .menuBtn:hover,
    .menuBtn:active {
        color: #dd0346;
    }
    .pricingBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        float: left;
        margin: 30px;
        margin-top: 40px;
        font-size: 17px;
    }
    .pricingBtn:hover,
    .pricingBtn:active {
        color: #dd0346;
    }
    .contactUsBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .contactUsBtn:hover,
    .contactUsBtn:active {
        color: #dd0346;
    }
    .aboutusBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .aboutusBtn:hover,
    .aboutusBtn:active {
        color: #dd0346;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .ayosgamit {
        font-family: 'Candara';
        font-size: 30px;
        float: left;
        color: #FFFFFF;
    }
    p {
        margin-top: -5px;
        font-size: 15px;
        float: left;
        margin-left: 20px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .reschedulevec {
        width: 30%;
        float: left;
        margin-top: -50px !important;
    }
    .resched {
        font-size: 28px;
        float: left;
        margin-top: 30px !important;
        margin-left: 20px;
        color: #b65e79;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .datepicker {
        margin-top: 80px;
    }
    .dateBtn {
        margin-left: 20px;
        background-color: #a4133c;
        color: #FFFFFF;
        height: 52px;
        font-size: 16px;
        font-family: 'Trebuchet MS';
    }
    .timeslots {
        margin-top: 50px;
        margin-left: 120px;
    }
    .timeslot {
        margin-top: -30px;
        float: left;
        margin-left: 10px;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .mat-stroked-button {
        width: 150px;
        height: 60px;
        border-style: solid;
        border-width: thin;
        border-color: #a4133c !important;
    }
    .tech1Btn {
        margin-top: -100px;
        margin-right: 10px;
    }
    .tech2Btn {
        margin-top: 10px;
        margin-right: 10px;
    }
    .tech3Btn {
        margin-top: 10px;
        margin-right: 10px;
    }
    .tech4Btn {
        margin-top: 10px;
    }
    .noavailtxt {
        font-size: 22px;
        margin: auto;
        margin-top: 40px;
        margin-left: 135px;
    }
    .h1technicians {
        font-size: 12px;
        font-family: 'Trebuchet MS';
        color: #a4133c;
    }
    .cancelBtn {
        width: 120px;
        height: 40px;
        background-color: #D62828;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        float: right;
        margin-right: 20px;
        margin-top: 70px;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .summary {
        width: 800px;
        height: 500px;
        margin-top: 50px !important;
        position: center !important;
        margin: auto;
    }
    .reschedBtn {
        margin-top: 30px !important;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-style: solid;
        border-width: thin;
        border-color: #fcb42a !important;
        width: 100px !important;
        height: 50px !important;
        float: right;
        margin-right: 160px;
    }
    .reschedBtn-enable {
        margin-top: 30px !important;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #fcb42a !important;
        color: #FFFFFF;
        width: 100px !important;
        height: 50px !important;
        float: right;
        margin-right: 160px;
    }
    .reschedBtn-enable:hover,
    .reschedBtn-enable:active {
        color: #14213D;
    }
    .backBtn {
        margin-top: 30px !important;
        float: right !important;
        margin-right: 10px !important;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-color: #fcb42a !important;
        color: #003049 !important;
        width: 100px !important;
        height: 50px !important;
    }
}

@media (max-width: 576px) {
    .mat-toolbar {
        background-color: #D62828;
        width: 100%;
    }
    .ayosgamit {
        font-family: 'Candara';
        font-size: 20px;
        float: left;
        color: #FFFFFF;
    }
    mat-card {
        width: 350px;
        height: 600px;
        position: center !important;
        margin: auto;
        margin-top: 100px;
    }
    p {
        margin-top: 50px;
        font-size: 15px;
        margin-left: 15px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .resched {
        font-size: 18px;
        margin-top: 30px;
        margin-left: 20px;
        color: #14213D;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .datepicker {
        margin-top: 25px;
        margin-left: 20px;
    }
    .dateBtn {
        margin-top: 25px;
        margin-left: 20px;
        border-color: #F77F00;
        color: #F77F00;
        width: 10% !important;
        height: 50px !important;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .timeslot {
        margin-top: 30px;
        float: left;
        margin-left: 20px;
        font-size: 15px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .timeslots {
        margin-left: 20px;
        margin-top: 70px;
    }
    .time {
        color: black;
    }
    .h1technicians {
        font-size: 12px;
        font-family: 'Trebuchet MS';
    }
    .reschedBtn {
        width: 160px;
        height: 40px;
        background-color: #F77F00;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        float: right;
        margin-top: 70px;
        margin-right: 25px;
    }
}