<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

      <!--HEADER------------------------------------------------>
      <mat-card class="header">
        <div>
          <h1 class="servicetype">{{service_appliance}} {{service_type}}</h1>

          <button mat-stroked-button (click)="cancelRequest()" class="cancelBtn">Cancel Request</button>
        </div>
      </mat-card>

      <mat-card class="container">

        <!--REQUEST SUMMARY------------------------------------------------>
        <mat-card class="summary">
          <div>
            <mat-icon class="icon">description<h1 class="title">Request Summary</h1>
            </mat-icon>
          </div>

          <h1 class="personalinfotxt">Personal Information</h1>
          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{service_firstname}}</td>
                <td>{{service_lastname}}</td>
                <td>{{service_phoneNumber}}</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th>Address</th>
                <th>City</th>
                <th>Property Type</th>
                <th>Zip Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{service_address}}</td>
                <td>{{service_city}}</td>
                <td>{{service_property_type}}</td>
                <td>{{service_zipcode}}</td>
              </tr>
            </tbody>
          </table>

          <h1 class="serviceinfotxt">Service Information</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Appliance</th>
                <th>Brand</th>
                <th>Unit Type</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{service_appliance}}</td>
                <td>{{service_brand}}</td>
                <td>{{service_unitType}}</td>
                
              </tr>
            </tbody>
            <thead>
              <tr>
                <th>Unit Problem</th>
                <th>Scheduled Date</th>
                <th>Time Slot</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{service_unitProb}}</td>
                <td>{{service_date | date:"MM/dd/YYYY"}}</td>
                <td>{{service_timeslot}}</td>
              </tr>
            </tbody>
          </table>

          <div>
            <button mat-stroked-button class="reschedBtn">Reschedule Request</button>
          </div>

          <!--PAYMENT SUMMARY------------------------------------------------>
        </mat-card>
        <div>

          <div>
            <div class="pending">
              <img class="pendingvector" mat-card-image src="../../assets/pendingvector.png">
              <h1 class="pendingtxt">Your request is pending</h1>
            </div>
          </div>

          <div>
            <mat-card class="payment">
              <div>
                <h1 class="paymentinfotxt">Payment Summary</h1>
                <label class="appliance">Appliance</label>
              </div>
              <div>
                <button mat-raised-button class="payBtn">Pay Now</button>
              </div>
            </mat-card>
          </div>

        </div>
      </mat-card>
</body>