.sidenav-container {
  height: 100%;
}
.sidenav{
  width: fit-content;
  width: 280px;
  background-color: #EAE2B7;
}
.mat-sidenav-content{
   height: 910px;
   background-color: white;
}
.mat-toolbar{
  background-color: #D62828;
  width: 100%;
}
.logo{
  width: 180px;
  height: 150px;
  padding-top: 40px;
  margin-left: 55px;
}

.dashtitle
{
  color: #003049;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.dashvector
{
  width: 360px;
  height: 250px;
  margin-left: 620px;
  margin-top: -60px;
}

.nav-icon{
  color: #003049;
  font-size: 35px;
  margin-left: 25px;
  margin-top: -12px;
}

.dashboardside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.dashboardside:hover
{
    background-color: #c8c19c;
    
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.dashboard-btn{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.bookingside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.bookingside:hover
{
    background-color: #c8c19c;
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.booking-btn{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}

.profileside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.profileside:hover
{
    background-color: #c8c19c;
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.profile-btn
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}
.spacer{
  flex: 1 1 auto;
}
.inboxicon
{
  font-size: 30px;
  color: #14213D;
  margin-right: 20px;
}
.logoutBtn
{
  font-size: 20px;
  color: antiquewhite;
}
.logoutBtn:hover{
  background-color: black;
}

.header
{
  width: 100%;
  height: fit-content;
  margin-top: 0;
}

.container{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
.backtxt
{
color: #003049;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
margin-top: -25px;
margin-left: 50px;

}

.servicetype
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
}

.summary
{
  width: fit-content;
  height: fit-content;
  float: left;
  margin: auto;
}
.title
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 40px;
}

.icon
{
  color: #003049;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

.personalinfotxt
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 25px;
}

.fname
{
  margin-left: 20px;
  margin-top: 20px;
}

.fname2
{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.lname
{
  margin-left: 170px;
  margin-top: -67px;

}

.lname2
{
  margin-left: 170px;
  margin-top: 10px;
  font-size: 15px;
}

.number
{
  float: right;
  margin-right: 100px;
  margin-top: -67px;
}

.number2
{
  float: right;
  margin-right: 145px;
  margin-top: -33px;
  font-size: 15px;
}

.addressinfo
{
  margin-top: 70px;
}

.address
{
  margin-left: 20px;
  margin-top: -40px;
}

.address2
{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 13px;
}

.city
{
  margin-left: 170px;
  margin-top: -70px;
}

.city2
{
  margin-left: 170px;
  margin-top: 10px;
  font-size: 15px;
}

.property
{
  float: right;
  margin-right: 160px;
  margin-top: -70px;
}

.property2
{
  float: right;
  margin-right: 200px;
  margin-top: -35px;
  font-size: 15px;
}

.zipcode
{
  float: right;
  margin-right: 20px;
  margin-top: -70px;
}

.zipcode2
{
  float: right;
  margin-right: 40px;
  margin-top: -35px;
  font-size: 15px;
}


.serviceinfotxt
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.appliance
{
  margin-left: 20px;
}

.appliance2
{
  margin-left: 20px;
  font-size: 15px;
}

.brand
{
  margin-left: 170px;
  margin-top: -70px;
}

.brand2
{
  margin-left: 170px;
  font-size: 15px;
  margin-top: 10px;
}


.unittype
{
  float: right;
  margin-right: 190px;
  margin-top: -70px;
}

.unittype2
{
  
  float: right;
  margin-right: 205px;
  margin-top: -33px;
  font-size: 15px;
}


.unitprob
{
  margin-top: 70px;
}

.unitproblem
{
  margin-left: 20px;
  margin-top: -35px;
  
}

.unitproblem2
{
  margin-left: 20px;
  font-size: 15px;
}

.datetimeinfo
{
  margin-top: 30px;
}


.date
{
  margin-left: 20px;
}

.date2
{
  margin-left: 20px;
  font-size: 15px;
}

.time
{
  margin-left: 180px;
  margin-top: -68px;
}

.time2
{
  margin-left: 180px;
  margin-top: 10px;
  font-size: 15px;
}

.reschedBtn
{
  width: 160px;
  height: 40px;
  border-color: #F77F00;
  color: #F77F00;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  float: right;
  margin-right: 20px;
}

.cancelBtn
{
  width: 120px;
  height: 40px;
  border-color: #D62828;
  color: #D62828;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  float: right;
  margin-right: 20px;
  margin-top: -30px;
}
.pending{
  width: 100%;
  height: 100%;
  margin: auto;
}
.pendingtxt
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  color: #F77F00;
}

.pendingvector
{
  width: 230px;
  height: 250px;
  float: right;
}

 .payment
{
  width: 450px;
  height: 100%;
  float: right;
  margin: auto;
}

.paymentinfo
{
  margin-top: 70px;
}


.paymentinfotxt
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.payBtn
{
  width: 260px;
  height: 45px;
  background-color: #003049;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin-left: 70px;
}
