<!--HEADER------------------------------------------------>
<mat-toolbar>
    <img class="logo" mat-card-image src="../../assets/mainlogo.png" routerLink="/home">
    <label class="menuBtn" [matMenuTriggerFor]="menu">Our Services<mat-icon>expand_more</mat-icon></label>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/menu_aircon">Aircon</button>
        <button mat-menu-item routerLink="/menu_ref">Refrigerator</button>
        <button mat-menu-item routerLink="/menu_fan">Electric Fan</button>
        <button mat-menu-item routerLink="/menu_washing">Washing Machine</button>
        <button mat-menu-item routerLink="/menu_tv">Television</button>
    </mat-menu>

    <label class="pricingBtn" routerLink="/pricing">Pricing</label>
    <label class="contactUsBtn" routerLink="/contact_us">Contact Us</label>
    <label class="aboutusBtn" routerLink="/about_us">About Us</label>
    <label class="aboutusBtn" (click)="goDashboard()">Home</label>
</mat-toolbar>
<div class="container">
    <!--REQUEST SUMMARY------------------------------------------------>
    <div>
        <div>
            <h1 class="backBtn" routerLink="/dashboard">
                <mat-icon class="back"><b>keyboard_return</b></mat-icon>Back to Dashboard
            </h1>
        </div>
        <div>
            <button mat-raised-button (click)="open(ratingFeedback)" class="rateBtn">Rate</button>
        </div>

        <mat-card class="summary">
            <div>
                <mat-icon class="icon">description
                    <h1 class="title">Request Details</h1>
                </mat-icon>
            </div>
            <h1 class="personalinfotxt">Personal Information</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Contact Number</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.service_firstname}}</td>
                        <td>{{data.service_lastname}}</td>
                        <td>{{data.service_phoneNumber}}</td>
                        <td>{{data.service_address}}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Address Details</th>
                        <th>City</th>
                        <th>Property Type</th>
                        <th>Barangay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.service_addressDetails}}</td>
                        <td>{{data.service_city}}</td>
                        <td>{{data.service_property_type}}</td>
                        <td>{{data.service_barangay}}</td>
                    </tr>
                </tbody>
            </table>

            <h1 class="serviceinfotxt">Service Information</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Appliance</th>
                        <th>Service</th>
                        <th>Brand</th>
                        <th>Unit Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.service_appliance}}</td>
                        <td>{{data.service_type}}</td>
                        <td>{{data.service_brand}}</td>
                        <td>{{data.service_unitType}}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Unit Problem</th>
                        <th>Scheduled Date</th>
                        <th>Time Slot</th>
                        <th>Instruction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data.service_unitProb}}</td>
                        <td>{{data.service_date | date}}</td>
                        <td>{{data.service_timeslot}}</td>
                        <td>{{data.service_instruction}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
    <!--Technicians Details------------------------------------------------>
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{technician.fullname}}</td>
                <td>{{technician.gender}}</td>
                <td>{{technician.number}}</td>
                <td>{{technician.address}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #ratingFeedback let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Give service rating and feedback</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="rateForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block; color: darkgoldenrod;">
                        <li (click)="countStar(star)" [ngClass]="{'selected': (star &lt;= selectedValue)}">
                            <button mat-button>
                            <mat-icon class="star">star</mat-icon>
                        </button>
                        </li>
                    </ul>
                </div>
            </div>
            <mat-form-field class="feedback" appearance="outline">
                <mat-label>Feedback</mat-label>
                <input matInput formControlName="technician_feedback" [errorStateMatcher]="matcher" placeholder="Share us your experience" autocomplete="off">
                <mat-error *ngIf="rateForm.get('technician_feedback').hasError('required')">
                    Give us your feedback.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="modal-footer">
            <button type="button" id="close" class="btn btn-outline-danger" (click)="c('Close')">Close</button>
            <button type="button" class="btn btn-outline-primary" (click)="getConfirmation()">Submit</button>
        </div>
    </form>
</ng-template>