<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
        <br>
        <mat-nav-list class="nav-list">
            <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            <img class="adminvector" mat-card-image src="../../assets/customervector.png">

            <h1 class="sidetitle">{{fname}}</h1>

            <div class="dashboardside">
                <mat-list-item (click)="goDashboard()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label>home</mat-icon>
                    <a class="dashboard-btn">Home</a>
                </mat-list-item>
            </div>
            <div class="bookingside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">insert_invitation</mat-icon>
                    <a class="booking-btn" routerLink="/booking">Book a Service</a>
                </mat-list-item>
            </div>
            <div class="profileside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
                    <a class="profile-btn" routerLink="/profile">Profile</a>
                </mat-list-item>
            </div>
            <div class="logoutside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon">exit_to_app</mat-icon>
                    <a class="logout-btn" (click)="logout()">Logout</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button class="backBtn" routerLink="/profile" mat-icon-button>
                <mat-icon class="backicon">chevron_left</mat-icon>
            </button>
            <div class="headertitle">
                <h1 class="titletxt">Change Password</h1>
            </div>
        </mat-toolbar>
        <div class="container">
            <form [formGroup]="changePassForm" (ngSubmit)="onPasswordChange()">
                <div class="card">

                    <p>
                        <mat-form-field class="newPass" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput formControlName="newPassword" [errorStateMatcher]="matcher" placeholder="Enter current password" [type]="hide ? 'password' : 'text'" autocomplete="off">
                            <mat-error *ngIf="changePassForm.get('newPassword').hasError('required')">New Password is required
                            </mat-error>
                            <mat-error *ngIf="changePassForm.get('newPassword').hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
                            <mat-error *ngIf="changePassForm.get('newPassword').hasError('maxlength')">Password contains maximum of {{maxPw}} characters</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="conPass" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmpassword" [errorStateMatcher]="matcher" placeholder="Enter new password" [type]="hidee ? 'password' : 'text'" autocomplete="off">
                            <mat-icon mat-icon-button matSuffix (click)="hidee = !hidee">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                            <mat-error *ngIf="changePassForm.get('confirmpassword').hasError('required')">Confirm Password is required</mat-error>
                            <mat-error *ngIf="changePassForm.get('confirmpassword').hasError('mismatch')">Password did not match</mat-error>
                        </mat-form-field>
                    </p>

                </div>
            </form>
            <button class="saveBtn" mat-raised-button>Save Changes</button>
            <button class="cancelBtn" mat-stroked-button routerLink="/profile">Cancel</button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>