<body>
    <mat-toolbar>
        <img class="logo" mat-card-image src="../../assets/mainlogo.png" routerLink="/home">
        <label class="menuBtn" [matMenuTriggerFor]="menu">Our Services<mat-icon>expand_more</mat-icon></label>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/menu_aircon">Aircon</button>
            <button mat-menu-item routerLink="/menu_ref">Refrigerator</button>
            <button mat-menu-item routerLink="/menu_fan">Electric Fan</button>
            <button mat-menu-item routerLink="/menu_washing">Washing Machine</button>
            <button mat-menu-item routerLink="/menu_tv">Television</button>
        </mat-menu>

        <label class="toolbarBtn" routerLink="/pricing">Pricing</label>
        <label class="toolbarBtn" routerLink="/contact_us">Contact Us</label>
        <label class="toolbarBtn" routerLink="/about_us">About Us</label>

        <span class="spacer"></span>
        <button mat-raised-button class="loginBtn" routerLink="/login">Login / Sign Up</button>
    </mat-toolbar>

    <div>
        <mat-card>
            <div class="description">
                <p>Book our trusted and certified technician that are expert</p>
                <p>in handling repair for your appliances.</p>
            </div>
            <h1 class="title">Washing Machine Services</h1>

            <div class="services">
                <h1 class="service1">
                    <mat-icon class="text_icon">done</mat-icon> Repair of all types and brand
                </h1>
                <h1 class="service2">
                    <mat-icon class="text_icon">done</mat-icon> Cleaning
                </h1>
                <h1 class="service2">
                    <mat-icon class="text_icon">done</mat-icon> Part Replacement
                </h1>
            </div>

            <h1 class="title2">All Types and Brands</h1>

            <div class="types">
                <h1 class="type1">
                    <mat-icon class="text_icon">done</mat-icon> Top Load
                </h1>
                <h1 class="type2">
                    <mat-icon class="text_icon">done</mat-icon> Front Load
                </h1>
                <h1 class="type2">
                    <mat-icon class="text_icon">done</mat-icon> Twin Tub
                </h1>

            </div>

            <button mat-raised-button class="bookBtn" routerLink="/login">Book a Service</button>
            <button mat-raised-button class="pricingBtn" routerLink="/login">Check pricing</button>

        </mat-card>
    </div>
</body>
<footer class="footer">© 2021 Ayosgamit - All Rights Reserved</footer>