<body>


    <div>
        <h1 class="airconrepair">Washing Machine Installation</h1>
        <h2 class="airconfee">Checkup Fee: Php 200</h2>
        <h2 class="airconfee">Top Load: Php 950</h2>
        <h2 class="airconfee">Front Load: Php 950</h2>
        <h2 class="airconfee">Twin Tub: Php 950</h2>
        <h1 class="cleaningservice1">
            <mat-icon class="text_icon"><b>done</b></mat-icon> Set unit in your preferred location
        </h1>
        <h1 class="cleaningservice2">
            <mat-icon class="text_icon"><b>done</b></mat-icon> Remove manufacturer loading screws
        </h1>
        <h1 class="cleaningservice2">
            <mat-icon class="text_icon"><b>done</b></mat-icon> Adjust leveling feet
        </h1>
        <h1 class="cleaningservice2">
            <mat-icon class="text_icon"><b>done</b></mat-icon> Connect plumbing and water hose
        </h1>
        <h1 class="cleaningservice2">
            <mat-icon class="text_icon"><b>done</b></mat-icon> Setup drain hose and drain pan
        </h1>
    </div>
</body>
