.container{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logincard
{
    border-radius: 40px;
    margin: auto;
    padding-top: 50px;
    min-height: 620px;
    max-width: 500px;
    background-color: #fffade;
    opacity: 100%;
    position: absolute;
    
}
.logo
{
height: 20%;
width: 40%;
margin-left: 140px;

}
.login-emailfield
{
    min-height: 40px;
    width: 300px;
    margin-top: 40px;
    margin-left: 10px;
    border-color: #FCA311, 3px;
}
.login-passfield 
{
    padding: 0;
    width: 300px;
    margin-top: 1px;
    margin-left: 10px;
    border: #FCA311;
}
.signup-fnamefield
{
    min-height: 40px;
    width: 300px;
    margin-left: 10px;
}
.signup-lnamefield
{
    min-height: 40px;
    width: 300px;
    margin-left: 10px;
}
.signup-emailfield
{
    min-height: 40px;
    width: 300px;
    margin-left: 10px;
    border: #FCA311, 3px;
}
.signup-passfield 
{
    min-height: 40px;
    width: 300px;
    margin-left: 10px;
    border: #FCA311;
}
.loginBtn
{
    background-color: #D62828;
    color: #FFFFFF;
    height: 40px;
    width: 180px;
    margin-top: 10px;
    margin-left: 70px;
    border-radius: 5px;
}
.g-signin2
{
    height: 40px;
    width: fit-content;
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 5px;
}

.signupBtn
{
    background-color: #D62828;
    color: #FFFFFF;
    height: 40px;
    width: 180px;
    margin-left: 70px;
}
.signuplink
{
    color: white;
    text-decoration: none;
}
.signuplink:hover 
{
    color: #14213D;
}
  
.loginlink
{
    color: white;
    text-decoration: none;
}
      
   
.googlelink

{
    color: #14213D;
    text-decoration: none;
}
   
   
.googlelink:hover 
{
   
    color: #FCA311;
       
}

.loginlink:hover 
{
    background-color: #FCA311;
    color: #14213D;
       
}

.loginTabs
{
    margin-left: -10px;
}

.mat-tab-group
{
    width: 320px;
    margin-left: 100px;
}
.close-button{
    float: right;
    top:-24px;
    margin-right:auto;
}
.close-icon{
    margin: auto;
    display: flex;
    justify-content: center;
}