<div class="loginform">

    <mat-card class="logincard">
      <div fxLayoutAlign="end">
        <button mat-button class="close">
          <mat-icon>close</mat-icon>
      </button>
    </div>
        <img class="logo" mat-card-image src="../../assets/techleanlogo.png">
        
      <div class="loginTabs">
        <mat-tab-group>
          <mat-tab class="loginTab" label="Login">
          <p>
            <mat-form-field class="login-emailfield" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput type= "email" name="email" ngModel email="true" placeholder="Enter email address" required>
            </mat-form-field>
  
            <mat-form-field class="login-passfield" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type= "password" name="password" ngModel password="true" placeholder="Enter password" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
             </mat-form-field>
          </p>
            <button mat-raised-button class="loginBtn"><a class="loginlink" routerLink="/dashboard">Login</a></button>
            <button mat-raised-button class="fbBtn"><a class="fblink" routerLink="/dashboard">Login with Facebook</a></button>
            <button mat-raised-button class="googleBtn"><a class="googlelink" routerLink="/dashboard">Login with Google Account</a></button>
          
          </mat-tab>
         

          <mat-tab class="signupTab" label="Signup">
            <p>
              <mat-form-field class="signup-namefield" appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput type="fullname" name="fullname" ngModel fullname="true" placeholder="Enter full name" required>
              </mat-form-field>
            </p>
      
            <p>
              <mat-form-field class="signup-emailfield" appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <input matInput type="signup_email" name="signup_email" ngModel signup_email="true" placeholder="yourname@example.com" required>
              </mat-form-field>
      
              <mat-form-field class="signup-passfield" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="signup_password" name="signup_password" ngModel signup_password="true" placeholder="Enter password" [type]="hide ? 'password' : 'text'" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
            </p>
           
            <button mat-raised-button class="signupBtn"><a class="signuplink" routerLink="/loginform">Signup</a></button>
           
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
</div>