@media (min-width: 820px) {
    body {
        background-size: cover;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }
    mat-toolbar {
        width: 100%;
        height: 80px;
    }
    .logo {
        max-width: 200px;
        height: 100px !important;
        margin-left: 30px !important;
        margin-top: 15px !important;
    }
    .menuBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
        display: flex;
    }
    .menuBtn:hover,
    .menuBtn:active {
        color: #dd0346;
    }
    mat-icon {
        font-size: 30px;
        margin-top: 2px !important;
        display: flex;
    }
    .pricingBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        float: left;
        margin: 30px;
        margin-top: 40px;
        font-size: 17px;
    }
    .pricingBtn:hover,
    .pricingBtn:active {
        color: #dd0346;
    }
    .contactUsBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .contactUsBtn:hover,
    .contactUsBtn:active {
        color: #dd0346;
    }
    .aboutusBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
    }
    .aboutusBtn:hover,
    .aboutusBtn:active {
        color: #dd0346;
    }
    .loginBtn {
        float: right !important;
        margin-right: 50px;
        width: 140px;
        height: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #dd0346;
        color: #FFFFFF;
        font-size: 15px;
    }
    .loginBtn:hover,
    .loginBtn:active {
        color: #f9dcc4;
    }
    .spacer {
        flex: 1 1 auto;
    }
    .loginvector {
        width: 30%;
        margin-top: 60px !important;
        float: left;
        margin-left: 200px;
    }
    .logincard {
        background-color: #FFFFFF;
        width: 500px;
        height: 550px;
        float: right;
        margin-right: 300px;
        margin-top: 100px;
    }
    .title {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 27px;
        color: #590D22;
    }
    .mat-tab-group {
        width: 320px;
        text-align: center;
        margin-top: 20px;
    }
    .mat-tab-label {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .g-signin2-button {
        margin-left: 30px;
    }
    .line1 {
        width: 180px;
        float: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    .ortxt {
        width: 150px;
        float: left;
        margin-left: 25px;
        margin-top: 20px !important;
    }
    .line2 {
        width: 180px;
        float: right;
        margin-right: 20px;
        margin-top: -10px;
    }
    .login-emailfield {
        min-height: 40px;
        width: 400px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .login-passfield {
        padding: 0;
        width: 400px;
        margin-top: 1px;
        margin-left: 30px;
    }
    .forgottxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        float: right;
        margin-top: -20px;
        margin-right: 40px;
        color: #590D22;
    }
    .loginBtn1 {
        margin-top: 20px;
        margin-left: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background-color: #dd0346;
        color: #FFFFFF;
        height: 10%;
        width: 390px;
        height: 40px;
    }
    .loginBtn1:hover,
    .loginBtn1:active {
        color: #f9dcc4;
    }
    .accounttxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: left;
        margin-top: 30px;
        margin-left: 120px;
        color: #590D22;
    }
    .admintxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: left;
        margin-left: 175px;
        color: #FFB703;
    }
    .signuptxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        float: left;
        margin-top: 30px;
        margin-left: 5px;
        color: #FFB703;
    }
    .signuptxt:hover,
    .admintxt:hover {
        color: #14213D;
    }
    h1 {
        color: grey;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px !important;
        position: center !important;
        margin: auto;
    }
}

@media (max-width: 576px) {
    mat-toolbar {
        width: 100%;
        height: 100px !important;
    }
    .logo {
        width: 50%;
        float: left !important;
        margin-left: 10px;
        margin-top: 40px !important;
    }
    .mat-toolbar {
        width: 100%;
        height: 80px;
    }
    .menuBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        float: left;
        margin: 30px;
        margin-top: 40px;
        display: none;
    }
    .menuBtn:hover,
    .menuBtn:active {
        color: #dd0346;
    }
    .toolbarBtn {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #003049;
        font-size: 17px;
        margin: 25px;
        margin-top: 30px;
        display: none;
    }
    .toolbarBtn:hover,
    .toolbarBtn:active {
        color: #dd0346;
    }
    .loginBtn {
        float: right !important;
        width: 140px;
        height: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #dd0346;
        color: #FFFFFF;
        font-size: 15px;
        display: none;
    }
    .loginBtn:hover,
    .loginBtn:active {
        color: #f9dcc4;
    }
    .mat-icon {
        font-size: 20px;
    }
    .loginvector {
        width: 30%;
        margin-top: 60px !important;
        float: left;
        margin-left: 200px;
        display: none;
    }
    .logincard {
        background-color: #FFFFFF;
        width: 340px;
        height: 550px;
        float: right;
        margin-right: 20px;
        margin-top: 100px;
    }
    .title {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: #590D22;
    }
    .mat-tab-group {
        width: 320px;
        text-align: center;
        margin-top: 20px;
    }
    .mat-tab-label {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .g-signin2-button {
        margin-left: -10px;
        width: 200px;
        display: none !important;
    }
    .line1 {
        width: 100px;
        float: left;
        margin-left: 20px;
        margin-top: 30px;
    }
    .ortxt {
        width: 150px;
        float: left;
        margin-left: 25px;
        margin-top: 20px !important;
    }
    .line2 {
        width: 100px;
        float: right;
        margin-right: 20px;
        margin-top: -10px;
    }
    .login-emailfield {
        min-height: 40px;
        width: 220px;
        margin-top: 80px !important;
        margin-left: 30px;
    }
    .login-passfield {
        padding: 0;
        width: 220px;
        margin-top: 1px;
        margin-left: 30px;
    }
    .forgottxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        float: right;
        margin-top: -20px;
        margin-right: 10px;
        color: #590D22;
    }
    .loginBtn1 {
        margin-top: 20px;
        position: center !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        background-color: #dd0346;
        color: #FFFFFF;
        height: 10%;
        width: 300px;
        height: 40px;
    }
    .accounttxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        position: center !important;
        margin-top: 30px;
        color: #590D22;
    }
    .signuptxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        position: center !important;
        margin-top: 30px;
        margin-left: 5px;
        color: #FFB703;
    }
    .signuptxt:hover {
        color: #14213D;
    }
    h1 {
        color: grey;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 10px !important;
        position: center !important;
        margin: auto;
    }
}