<div class="col-md-6 offset-md-3 mt-5">
<div class="loginform">
    <mat-card class="logincard">
      <div fxLayoutAlign="end">
        <button mat-icon-button class="close-button">
          <mat-icon class="close-icon" color="warn" >close</mat-icon>
        </button>
      </div>
        <img class="logo" mat-card-image src="../../assets/mainlogo.png">
        
      <div class="loginTabs">
        <mat-tab-group>
          <!-- ------------------------------------------------------------ -->
            <mat-tab class="loginTab" label="Login">
              <form #userLogin = "ngForm" (ngSubmit)="onClickSubmit(userLogin.value)">
                <mat-form-field class="login-emailfield" appearance="outline">
                  <mat-label>Email Address</mat-label>
                  <input matInput  type= "email" name="login_email" placeholder="user@example.com" ngModel required>
                  <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
      
                <mat-form-field class="login-passfield" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type= "password" name="login_password" placeholder="Enter password" [type]="hide ? 'password' : 'text'" ngModel required>

                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              
                <button mat-raised-button class="loginBtn" type="submit">Login</button>
                <button mat-raised-button class="fbBtn"><a class="fblink" routerLink="/dashboard">Login with Facebook</a></button>
                <button mat-raised-button class="googleBtn"><a class="googlelink" routerLink="/dashboard">Login with Google Account</a></button>
              </form>
            </mat-tab>
          <!-- ------------------------------------------------------------------------- -->
            <mat-tab class="signupTab" label="Signup">
              <p>
                <mat-form-field class="signup-fnamefield" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput id="fname" type="text" ngModel firstName="true" placeholder="Enter first name" required>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="signup-lnamefield" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput id="lname" type="text" ngModel lastName="true" placeholder="Enter last name" required>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="signup-emailfield" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput id="signup_email" type="email" ngModel signup_email="true" placeholder="yourname@example.com" required>
                </mat-form-field>
        
                <mat-form-field class="signup-passfield" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput id="signup_password" type="password" ngModel signup_password="true" placeholder="Enter password" [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
              </p>
              <button mat-raised-button class="signupBtn"><a class="signuplink">Signup</a></button>
            </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
</div>