.h1title
{
    font-size: 25px;
    font-family: 'Trebuchet MS';
    margin-left: 10px;
}
.lightscard
{
    margin-top: 50px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
}
.outletcard
{
    margin-top: -232px;
    margin-left: 290px;
    width: 200px;
    height: 200px;
}
.h1lights
{
    font-family: 'Trebuchet MS';
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: auto;
}
.h1outlet
{
    font-family: 'Trebuchet MS';
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: auto;
}
.close-button{
    float: right;
    top:-24px;
    margin: auto;
}
.close-icon{
    margin: auto;
    display: flex;
    justify-content: center;
}
