
<div>
    <h1 class="h1title">Select an electrical wiring to be repaired</h1>
</div>

<div>

<mat-card class="lightscard">
    <img class="lightsimg" mat-card-image src="../../assets/electricalicon.png">
        <mat-card-content>
            <h1 class="h1lights">Lights</h1>
        </mat-card-content>
</mat-card>


<mat-card class="outletcard">
<img class="outletimg" mat-card-image src="../../assets/poweroutlet.png">
  <mat-card-content>
      <h1 class="h1outlet">Power Outlet</h1>
  </mat-card-content>
</mat-card>

</div>
