body
{
    width: 400px;
    position: center !important;
}



.airconrepair
{
    font-size: 20px;
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center !important;
    margin-top: 20px;
}

.airconfee
{
    font-size: 20px;
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center !important;
    margin-top: 50px;
    
}

.airconfee2
{
    font-size: 18px;
    color: #FCBF49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center !important;
    margin-top: 20px;
    
}

.aircondescrip
{
    font-size: 15px;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center !important;
    margin-top: 50px;
}

.aircondescrip2
{
    font-size: 15px;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: center !important;
    margin-top: 20px;
}

.text_icon
{
    color: #FCBF49;
    font-size: 25px;
}
.repairservice1
{
    margin-top: 20px;
    font-size: 15px;
    color: #003049;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
   
}

.cancelBtn
{
   color: grey;
   font-size: 35px;
   float: right;
   margin-top: -50px;
}

