
.sidenav-container {
  height: 100%;
}

.sidenav{
  width: fit-content;
  width: 280px;
  background-color: #EAE2B7;
}

.mat-sidenav-content{
   height: 910px;
   background-color: white;
}

.mat-toolbar{
  background-color: #D62828;
  width: 100%;
}

.logo{
  width: 180px;
  height: 150px;
  padding-top: 40px;
  margin-left: 55px;
}

.dashtitle
{
  color: #003049;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.dashvector
{
  width: 360px;
  height: 250px;
  margin-left: 620px;
  margin-top: -60px;
}

.nav-icon{
  color: #003049;
  font-size: 35px;
  margin-left: 25px;
  margin-top: -12px;
}

.datetime
{
  margin-top: -5px;
  margin-left: 1000px;
  color: #FFFFFF;
  font-size: 20px;
  
}

.date
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}


.time
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;

}


.dashboardside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.dashboardside:hover
{
    background-color: #c8c19c;
    
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.dashboard-btn{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.bookingside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.bookingside:hover
{
    background-color: #c8c19c;
    
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.booking-btn{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}

.profileside{
  margin-left: 0px;
  margin-top: 30px;
  text-align: justify;
}

.profileside:hover
{
    background-color: #c8c19c;
    
    width: 100%;
    height: 70px;
    margin-left: 0;
    margin-top: 20px;
    text-align: justify;
}

.profile-btn
{
  color: #003049;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 25px;
}

.spacer{
  flex: 1 1 auto;
}

.tab{
  margin-top: 40px;
  margin-left: 50px;
  width: fit-content;
}
.ayosgamit
{
  font-family: 'Candara';
  font-size: 30px;
  margin-left: 10px;
  color: #FFFFFF;
}

.welcome
{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
margin-left: 80px;
margin-top: -15px;
color: #003049;
}

.inboxicon
{
  font-size: 30px;
  color: #14213D;
  margin-right: 20px;
}
.logoutBtn
{
  font-size: 20px;
  color: antiquewhite;
}
.logoutBtn:hover{
  background-color: black;
}

.appliancescard
{
    margin-top: 100px;
    margin-left: 320px;
    width: 200px;
    height: 200px;
}

.applianceimg
{
margin-left: 30px;
margin-top: 20px;
width: 220px;
height: 200px;
border-radius: 20px;
}

.electricalimg
{
margin-left: 60px;
margin-top: 20px;
width: 220px;
height: 200px;
border-radius: 20px;
}

.cleaningimg
{
margin-left: 70px;
margin-top: 20px;
width: 220px;
height: 200px;
border-radius: 20px;
}

.servicescard
{
  margin-top: 30px;
  margin-left: 90px;
  width: fit-content;
  height: 250px;
}

.servappliances
{
  font-size: 15px;
  color: #14213D;
  margin-left: 70px;
  margin-top:-10px;
}

.servelectrical
{
  font-size: 15px;
  color: #14213D;
  margin-left: 320px;
  margin-top:-25px;
}

.servcleaning
{
  font-size: 15px;
  color: #14213D;
  margin-left: 620px;
  margin-top:-27px;
}

.pendingcard
{
  margin-left: 20px;
  margin-top: 15px;
  width: 850px;
  height: fit-content;
  border: 2px solid #E5E5E5;
}
.searchfield
{
  height: 30px;
  width: 300px;
  font-family: 'Trebuchet MS';
  float: right;
  margin-top: -70px;
}

.completedcard
{
  margin-left: 20px;
  margin-top: 15px;
  width: 850px;
  height: fit-content;
  border: 2px solid #E5E5E5;
}

.cancelledcard
{
  margin-left: 20px;
  margin-top: 15px;
  width: 850px;
  height: fit-content;
  border: 2px solid #E5E5E5;
}

.detailsBtn
{
  margin-top: -30px;
  background-color: #FCA311;
  width: 80px;
  font-size: 10px;
  height: 30px;
}

table {
  width: 100%;
  margin-top: 30px;
}
.request{
  padding: 10px;
  font-size: 22px;
}
