<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
        <br>

        <mat-nav-list class="nav-list">

            <img class="logo" mat-card-image src="../../assets/mainlogo.png">


            <div class="dashboardside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label>home</mat-icon>
                    <a class="dashboard-btn" routerLink="/dashboard">Home</a>
                </mat-list-item>
            </div>
            <div class="bookingside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">insert_invitation</mat-icon>
                    <a class="booking-btn" routerLink="/booking">Book a Service</a>
                </mat-list-item>
            </div>
            <div class="profileside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
                    <a class="profile-btn" routerLink="/profile">Profile</a>
                </mat-list-item>
            </div>

            <div class="logoutside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon">exit_to_app</mat-icon>
                    <a class="logout-btn" (click)="logout()">Logout</a>
                </mat-list-item>
            </div>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

            <div>
                <h1 class="dashtitle">Welcome to AyosGamit!</h1>
                <label class="dashtitle2">Hire trained and certified technicians.</label>

                <button mat-raised-button class="startBtn" routerLink="/booking">Get Started</button>
            </div>
        </mat-toolbar>

        <div>
            <mat-card class="customerinfo">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" class="header">Full Name</th>
                                <th scope="col" class="header">Contact Number</th>
                                <th scope="col" class="header">Email</th>
                                <th scope="col" class="header">Address</th>

                            </tr>
                        </thead>
                        <tbody class="body">
                            <tr>
                                <td class="content1">{{fname}} {{lname}}</td>
                                <td class="content1">{{number}}</td>
                                <td class="content1">{{email}}</td>
                                <td class="content1">{{address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>

            <img class="customervector" mat-card-image src="../../assets/customervector.png">
        </div>


        <mat-tab-group class="tab">
            <mat-tab label="Pending Requests">
                <mat-card class="pendingcard">
                    <h2 class="request">Pending Requests</h2>
                    <!-- <mat-form-field class="searchfield" appearance="outline">
            <mat-label>
              <mat-icon>find_in_page</mat-icon>Search..
            </mat-label>
            <input matInput>
          </mat-form-field>-->
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="header">Service ID</th>
                                    <th scope="col" class="header">Appliance</th>
                                    <th scope="col" class="header">Service Type</th>
                                    <th scope="col" class="header">Status</th>
                                </tr>
                            </thead>
                            <tbody class="body">
                                <tr *ngFor="let pr of pending_request">
                                    <td><b>{{pr._id | slice:0:9}}</b></td>
                                    <td>{{pr.service_appliance}}</td>
                                    <td>{{pr.service_type}}</td>
                                    <td>{{pr.status}}</td>
                                    <td><button mat-raised-button [routerLink]="['/reschedule/' + pr._id]">Reschedule</button></td>
                                    <td><button mat-raised-button [routerLink]="['/requestdetails-pending/' + pr._id]">Details</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Approved Requests">
                <mat-card class="pendingcard">
                    <h2 class="request">Approved Requests</h2>
                    <!-- <mat-form-field class="searchfield" appearance="outline">
              <mat-label>
                <mat-icon>find_in_page</mat-icon>Search..
              </mat-label>
              <input matInput>
            </mat-form-field>-->
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="header">Service ID</th>
                                    <th scope="col" class="header">Appliance</th>
                                    <th scope="col" class="header">Service Type</th>
                                    <th scope="col" class="header">Status</th>
                                </tr>
                            </thead>
                            <tbody class="body">
                                <tr *ngFor="let ar of approved_request">
                                    <td><b>{{ar._id | slice:0:9}}</b></td>
                                    <td>{{ar.service_appliance}}</td>
                                    <td>{{ar.service_type}}</td>
                                    <td>{{ar.status}}</td>
                                    <td><button mat-raised-button [routerLink]="['/requestdetails/' + ar._id]">Details</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Completed Requests">
                <mat-card class="pendingcard">
                    <h2 class="request">Completed Requests</h2>
                    <!-- <mat-form-field class="searchfield" appearance="outline">
            <mat-label>
              <mat-icon>find_in_page</mat-icon>Search..
            </mat-label>
            <input matInput>
          </mat-form-field>-->
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="header">Service ID</th>
                                    <th scope="col" class="header">Appliance</th>
                                    <th scope="col" class="header">Service Type</th>
                                    <th scope="col" class="header">Status</th>
                                </tr>
                            </thead>
                            <tbody class="body">
                                <tr *ngFor="let cr of completed_request">
                                    <td><b>{{cr._id | slice:0:9}}</b></td>
                                    <td>{{cr.service_appliance}}</td>
                                    <td>{{cr.service_type}}</td>
                                    <td>{{cr.status}}</td>
                                    <td>
                                        <button mat-button (click)="open(ratingFeedback)">Rate</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Cancelled Requests">
                <mat-card class="pendingcard">
                    <h2 class="request">Cancelled Requests</h2>
                    <!-- <mat-form-field class="searchfield" appearance="outline">
            <mat-label>
              <mat-icon>find_in_page</mat-icon>Search..
            </mat-label>
            <input matInput>
          </mat-form-field>-->
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="header">Service ID</th>
                                    <th scope="col" class="header">Service Type</th>
                                    <th scope="col" class="header">Status</th>
                                    <th scope="col" class="header">Reason</th>
                                </tr>
                            </thead>
                            <tbody class="body">
                                <tr *ngFor="let canreq of cancelled_request">
                                    <td><b>{{canreq._id | slice:0:9}}</b></td>
                                    <td>{{canreq.service_appliance}}</td>
                                    <td>{{canreq.status}}</td>
                                    <td>{{canreq.reason}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>

            <mat-tab label="Rejected Requests">
                <mat-card class="pendingcard">
                    <h2 class="request">Rejected Requests</h2>
                    <!-- <mat-form-field class="searchfield" appearance="outline">
            <mat-label>
              <mat-icon>find_in_page</mat-icon>Search..
            </mat-label>
            <input matInput>
          </mat-form-field>-->
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" class="header">Service ID</th>
                                    <th scope="col" class="header">Service Type</th>
                                    <th scope="col" class="header">Status</th>
                                    <th scope="col" class="header">Reason</th>
                                </tr>
                            </thead>
                            <tbody class="body">
                                <tr *ngFor="let rejreq of rejected_request">
                                    <td><b>{{rejreq._id | slice:0:9}}</b></td>
                                    <td>{{rejreq.service_type}}</td>
                                    <td>{{rejreq.status}}</td>
                                    <td>{{rejreq.reason}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>

    </mat-sidenav-content>
    <ng-template #ratingFeedback let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Service Rating</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="rateForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block; color: darkgoldenrod;">
                            <li (click)="countStar(star)" [ngClass]="{'selected': (star &lt;= selectedValue)}">
                                <button mat-button>
                                <mat-icon class="star">star</mat-icon>
                            </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <mat-form-field class="feedback" appearance="outline">
                    <mat-label>Feedback</mat-label>
                    <input matInput formControlName="technician_feedback" [errorStateMatcher]="matcher" placeholder="Share us your experience" autocomplete="off">
                    <mat-error *ngIf="rateForm.get('technician_feedback').hasError('required')">
                        Give us your feedback.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-outline-danger" (click)="c('Close')">Close</button>
                <button type="button" class="btn btn-outline-primary" (click)="submit()">Submit</button>
            </div>
        </form>
    </ng-template>

</mat-sidenav-container>