<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <br>
        <mat-nav-list class="nav-list">
            <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            <img class="adminvector" mat-card-image src="../../assets/customervector.png">

            <h1 class="sidetitle">{{fname}}</h1>
            <div class="dashboardside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label>home</mat-icon>
                    <a class="dashboard-btn" routerLink="/dashboard">Home</a>
                </mat-list-item>
            </div>
            <div class="bookingside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">insert_invitation</mat-icon>
                    <a class="booking-btn" routerLink="/bookingform">Book a Service</a>
                </mat-list-item>
            </div>
            <div class="profileside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
                    <a class="profile-btn" routerLink="/profile">Profile</a>
                </mat-list-item>
            </div>

            <div class="logoutside">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon">exit_to_app</mat-icon>
                    <a class="logout-btn" (click)="logout()">Logout</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </mat-toolbar>
        <!--1st Stepper-->
        <mat-horizontal-stepper class="stepper" #stepper [linear]="true">
            <mat-step state="first" [completed]="unitdetailsForm.valid" [editable]="true">
                <div class="ds">
                    <form [formGroup]="unitdetailsForm" (ngSubmit)="unitdetailsSubmit()">
                        <ng-template matStepLabel>Unit Details</ng-template>
                        <!--Service Location-->

                        <mat-card class="viewprice">
                            <h1 class="pricetxt">View Pricing</h1>
                            <div>
                                <p>Find out repair price and other details.</p>
                                <button class="priceBtn" mat-raised-button (click)="openDialog()">View Pricing</button>
                            </div>
                        </mat-card>

                        <mat-card class="unitdetailscard">
                            <div>
                                <h1 class="unitdetails">Unit Details</h1>
                            </div>

                            <mat-form-field class="applianceselect" appearance="outline">
                                <mat-label>Aircon Type</mat-label>
                                <mat-select formControlName="service_aptype">
                                    <mat-option *ngFor="let act of ac_type" [value]="act">
                                        {{act}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="unitdetailsForm.get('service_aptype').hasError('required')">
                                    You must make a selection
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="brand" appearance="outline">
                                <mat-label>Brand</mat-label>
                                <mat-select formControlName="service_brand">
                                    <mat-option *ngFor="let brand of ac_brand" [value]="brand">
                                        {{brand}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="unitdetailsForm.get('service_brand').hasError('required')">
                                    You must make a selection
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="unittype" appearance="outline">
                                <mat-label>Unit Type</mat-label>
                                <mat-select formControlName="service_unitType">
                                    <mat-option *ngFor="let ut of ac_unitType" [value]="ut">
                                        {{ut}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="unitdetailsForm.get('service_unitType').hasError('required')">
                                    You must make a selection
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <mat-form-field class="unitprob" appearance="outline">
                                    <mat-label>Unit Problem</mat-label>
                                    <mat-select formControlName="service_unitProb">
                                        <mat-option *ngFor="let utp of ac_unitProblem" [value]="utp">
                                            {{utp}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="unitdetailsForm.get('service_unitProb').hasError('required')">
                                        You must make a selection
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-card>
                        <!-- <div>
                    <button class="addunit" mat-stroked-button>
                      <mat-icon>add_box</mat-icon>Add unit
                    </button>
                  </div> -->

                        <!--Back and Next Button-->
                        <button class="backBtn" mat-stroked-button routerLink="/appliance">Back</button>
                        <div *ngIf="!unitdetailsForm.valid; else enable">
                            <button mat-stroked-button class="nextBtn" [disabled]="!unitdetailsForm.valid">Next</button>
                        </div>
                        <ng-template #enable>
                            <button mat-raised-button class="doneBtn" type="submit" matStepperNext>Next</button>
                        </ng-template>
                    </form>
                </div>
            </mat-step>

            <mat-step state="second" [completed]="locationForm.valid" [editable]="true">
                <div class="ds">
                    <form [formGroup]="locationForm" (ngSubmit)="locationSubmit()">
                        <ng-template matStepLabel>Service Location</ng-template>
                        <!--Service Location-->
                        <mat-card class="locationcard">
                            <div>
                                <mat-icon class="locationicon">place</mat-icon>
                                <h1 class="servicelocation">Service Location</h1>
                            </div>

                            <!--Select City-->
                            <mat-form-field class="cityselect" appearance="outline">
                                <mat-label>Select a City</mat-label>
                                <mat-select formControlName="service_city" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let cit of city" [value]="cit">
                                        {{cit}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="locationForm.get('service_city').hasError('required')">
                                    You must make a selection
                                </mat-error>
                            </mat-form-field>

                            <!--Property Type-->
                            <mat-form-field class="propertyselect" appearance="outline">
                                <mat-label>Property Type</mat-label>
                                <mat-select formControlName="service_property_type" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let ptype of property_type" [value]="ptype">
                                        {{ptype}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="locationForm.get('service_property_type').hasError('required')">
                                    You must make a selection
                                </mat-error>
                            </mat-form-field>

                            <!--Barangay-->
                            <mat-form-field class="zipcode" appearance="outline">
                                <mat-label>Barangay</mat-label>
                                <input matInput type="text" formControlName="service_barangay" [errorStateMatcher]="matcher" autocomplete="off">
                                <mat-error *ngIf="locationForm.get('service_barangay').hasError('required')">
                                    Input valid barangay
                                </mat-error>
                                <mat-error *ngIf="locationForm.get('service_barangay').hasError('pattern')">
                                    Input valid barangay
                                </mat-error>
                            </mat-form-field>

                        </mat-card>
                        <!--Back and Next Button-->
                        <button class="backBtn" mat-stroked-button matStepperPrevious>Back</button>
                        <div *ngIf="!locationForm.valid; else enable">
                            <button mat-stroked-button class="nextBtn" [disabled]="!locationForm.valid">Next</button>
                        </div>
                        <ng-template #enable>
                            <button mat-raised-button class="doneBtn" type="submit" matStepperNext>Next</button>
                        </ng-template>
                    </form>
                </div>
            </mat-step>

            <!--2nd Stepper-->
            <mat-step state="third" [completed]="scheduleForm.valid" [editable]="true">

                <form [formGroup]="scheduleForm" (ngSubmit)="schedSubmit()">
                    <div class="ds">
                        <ng-template matStepLabel>Service Schedule</ng-template>
                        <mat-card class="schedcard">
                            <div>
                                <mat-icon class="schedicon">today</mat-icon>
                                <h1 class="servicesched">Service Schedule</h1>

                                <!--Date Picker-->
                                <div>
                                    <mat-form-field class="datepicker" appearance="outline">
                                        <mat-label>Date of Service</mat-label>
                                        <input matInput [min]="tomorrow" [matDatepicker]="picker" formControlName="service_date" autocomplete="off">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="scheduleForm.get('service_date').hasError('required')">
                                            You must make a selection
                                        </mat-error>
                                    </mat-form-field>
                                    <button mat-raised-button class="dateBtn" (click)="picker.open()">Pick a date</button>
                                </div>

                                <!--Time Slots-->
                                <div class="timeslots">
                                    <h1 class="timeslot">Select a time slot</h1>
                                    <div *ngIf="activeTechnicians.length == 0; else showAvailalbe">
                                        <button mat-stroked-button class="tech1Btn" disabled>Fully Booked</button>
                                    </div>
                                    <ng-template #showAvailalbe>
                                        <button mat-stroked-button class="tech1Btn">
                                            <input type="radio" value="7:00am - 10:00am" formControlName="service_timeslot" required>7:00am-10:00am
                                            <h1 class="h1technicians"> {{activeTechnicians.length}} slot(s) available </h1>
                                        </button>
                                    </ng-template>

                                    <div *ngIf="activeTechnicians.length == 0; else showAvailalbe1">
                                        <button mat-stroked-button class="tech2Btn" disabled>Fully Booked</button>
                                    </div>
                                    <ng-template #showAvailalbe1>
                                        <button mat-stroked-button class="tech2Btn" value="10:00am-1:00pm">
                                            <input type="radio" value="10:00am - 1:00pm" formControlName="service_timeslot" required>10:00am-1:00pm
                                            <h1 class="h1technicians">{{activeTechnicians.length}} slot(s) available </h1>
                                        </button>
                                    </ng-template>

                                    <div *ngIf="activeTechnicians.length == 0; else showAvailalbe2">
                                        <button mat-stroked-button class="tech2Btn" disabled>Fully Booked</button>
                                    </div>
                                    <ng-template #showAvailalbe2>
                                        <button mat-stroked-button class="tech2Btn" value="1:00pm-3:00pm">
                                            <input type="radio" value="1:00pm - 3:00pm" formControlName="service_timeslot" required>1:00pm-3:00pm
                                            <h1 class="h1technicians">{{activeTechnicians.length}} slot(s) available</h1>
                                        </button>
                                    </ng-template>

                                    <div *ngIf="activeTechnicians.length == 0; else showAvailalbe3">
                                        <button mat-stroked-button class="tech2Btn" disabled>Fully Booked</button>
                                    </div>
                                    <ng-template #showAvailalbe3>
                                        <button mat-stroked-button class="tech2Btn" value="3:00pm-6:00pm">
                                            <input type="radio" value="3:00pm - 6:00pm" formControlName="service_timeslot" required>3:00pm-6:00pm
                                            <h1 class="h1technicians">{{activeTechnicians.length}} slot(s) available</h1>
                                        </button>
                                    </ng-template>
                                </div>
                            </div>
                        </mat-card>
                        <!--Back and Next Button-->
                        <button class="backBtn" mat-stroked-button matStepperPrevious>Back</button>
                        <div *ngIf="!scheduleForm.valid; else enable">
                            <button mat-stroked-button class="nextBtn" [disabled]="!scheduleForm.valid">Next</button>
                        </div>
                        <ng-template #enable>
                            <button mat-raised-button class="doneBtn" type="submit" matStepperNext>Next</button>
                        </ng-template>
                    </div>
                </form>
            </mat-step>

            <!--3rd Stepper-->
            <mat-step state="final" [completed]="contactDetialsForm.valid" [editable]="true">
                <div class="ds">
                    <form [formGroup]="contactDetialsForm" (ngSubmit)="contactDetailsSubmit()">
                        <ng-template matStepLabel>Contact Details</ng-template>
                        <mat-card class="contactcard">
                            <div>
                                <mat-icon class="phoneicon"> local_phone</mat-icon>
                                <h1 class="contactdetails">Contact Details</h1>
                            </div>

                            <!--Geolocation-->
                            <div id="mapid"></div>
                            <div>
                                <!-- <h1 class="h1address">Move map to exact location under the red pin.</h1> -->
                                <mat-form-field class="address" appearance="outline">
                                    <mat-label>Service Address</mat-label>
                                    <input matInput formControlName="service_address" [errorStateMatcher]="matcher" autocomplete="off">
                                    <mat-error *ngIf="contactDetialsForm.get('service_address').hasError('required')">
                                        Input your Home Adress
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!--Booking checkboxes-->
                            <div class="checkbox">
                                <!-- <h1 class="h1cb">Booking for yourself?</h1>
        
                      <section class="example-section">
                        <mat-checkbox class="cbYes">Yes</mat-checkbox>
                        <mat-checkbox class="cbNo">No</mat-checkbox>
                      </section> -->

                                <mat-form-field class="fname" appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" pattern="[a-zA-Z_ ]{1,15}" formControlName="service_firstname" placeholder="Juan" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="contactDetialsForm.get('service_firstname').hasError('required')">
                                        Input your first name
                                    </mat-error>
                                    <mat-error *ngIf="contactDetialsForm.get('service_firstname').hasError('pattern')">
                                        Invalid Name (Max of 15 Characters)
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="lname" appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" pattern="[a-zA-Z_ ]{1,15}" formControlName="service_lastname" placeholder="Dela Cruz" [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="contactDetialsForm.get('service_lastname').hasError('required')">
                                        Input your last name
                                    </mat-error>
                                    <mat-error *ngIf="contactDetialsForm.get('service_lastname').hasError('pattern')">
                                        Invalid Name (Max of 15 Characters)
                                    </mat-error>
                                </mat-form-field>
                                <!--Phone Number-->
                                <mat-form-field class="phonenumber" appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput pattern="(09)[0-9]{9}" formControlName="service_phoneNumber" [errorStateMatcher]="matcher" #input maxlength="11" placeholder="09XXXXXXXXX" autocomplete="off" required>
                                    <mat-hint>{{input.value?.length || 0}}/11</mat-hint>
                                    <mat-error *ngIf="contactDetialsForm.get('service_phoneNumber').hasError('required')">
                                        Enter a valid phone number
                                    </mat-error>
                                    <mat-error *ngIf="contactDetialsForm.get('service_phoneNumber').hasError('pattern')">
                                        Invalid phone number
                                    </mat-error>
                                </mat-form-field>
                                <!--Address Details-->
                                <mat-form-field class="addressdetails" appearance="outline">
                                    <mat-label>Service Address Details</mat-label>
                                    <input matInput formControlName="service_addressDetails" [errorStateMatcher]="matcher" autocomplete="off">
                                    <mat-hint>unit no., floor no., building name, block no.</mat-hint>
                                    <mat-error *ngIf="contactDetialsForm.get('service_addressDetails').hasError('required')">
                                        Input your address details
                                    </mat-error>
                                </mat-form-field>
                                <!--Instructions-->
                                <mat-form-field class="instructions" appearance="outline">
                                    <mat-label>Instructions</mat-label>
                                    <input matInput formControlName="service_instruction" [errorStateMatcher]="matcher" placeholder="Any instruction to the technician?" autocomplete="off">
                                    <mat-error *ngIf="contactDetialsForm.get('service_instruction').hasError('required')">
                                        Any instructions?
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-card>

                        <!--Back and Next Button-->
                        <button class="backBtn" mat-stroked-button matStepperPrevious>Back</button>
                        <div *ngIf="!contactDetialsForm.valid; else enable1">
                            <button mat-stroked-button class="nextBtn" [disabled]="!contactDetialsForm.valid">Review</button>
                        </div>
                        <ng-template #enable1>
                            <button mat-raised-button class="doneBtn" type="submit">Review</button>
                        </ng-template>
                    </form>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </mat-sidenav-content>
</mat-sidenav-container>