@media (min-width: 820px)
{
  mat-toolbar
  {
    width: 100%;
    height: 10%;
  }
  
  .logo
  {
       max-width: 200px;
       height: 100px !important;
       margin-left: 30px !important;
       margin-top: 20px !important;
  }
  
  .homeBtn
  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #003049;
    font-size: 17px;
    float: left;
    margin: 30px;
    margin-left: 80px;
    margin-top: 40px;
  }
  
  .homeBtn:hover, .homeBtn:active {
    color:#dd0346;
  }
  
  .menuBtn
  {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #003049;
      font-size: 17px;
      float: left;
      margin: 30px;
      margin-top: 40px;
  }
  
  .menuBtn:hover, .menuBtn:active {
      color:#dd0346;
  }
  
  .pricingBtn
  {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #003049;
      float: left;
      margin: 30px;
      margin-top: 40px;
      font-size: 17px;
      
  }
  
  
  .pricingBtn:hover, .pricingBtn:active {
      color:#dd0346;
  }
  
  .contactUsBtn
  {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #003049;
      font-size: 17px;
      float: left;
      margin: 30px;
      margin-top: 40px;
  }
  
  .contactUsBtn:hover, .contactUsBtn:active {
      color:#dd0346;
  }
  
  .aboutusBtn
  {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #003049;
      font-size: 17px;
      float: left;
      margin: 30px;
      margin-top: 40px;
  }
  
  .aboutusBtn:hover, .aboutusBtn:active {
      color:#dd0346;
  }


.spacer{
  flex: 1 1 auto;
}
.dashtitle
{
  color: #003049;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.services
{
  color: #003049;
  font-size: 20px;
  margin-left: 60px;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.datetime
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #003049;
  font-size: 18px;
  float: left;
  margin-left: 60px;
  margin-top: 5px;
}


.ayosgamit
{
  font-family: 'Candara';
  font-size: 30px;
  margin-left: 10px;
  color: #FFFFFF;
}

.welcome
{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
float: right;
margin-right: 250px;
font-size: 18px;
margin-top: 3px;
color: #FFFFFF;
}

.logouticon
{
  font-size: 30px;
  float: right;
  margin-right: 80px;
  margin-top: -5px;
  color: #FFFFFF;
}

.logoutBtn
{
  font-size: 18px;
  color: #FFFFFF;
}
.logoutxt
{
  font-size: 17px;
  color: #FFFFFF;
  margin-top: -30px;
  float: right;
  margin-right: -70px;
}
  .stepper
  {
    margin: auto;
    position: center !important;
    margin-top: 50px;
    font-family: 'Trebuchet MS';
    width: fit-content;
  }

  .viewprice
  {
    width: 800px;
    height: fit-content;
    margin: auto;
  }

  .pricetxt
  {
    color: #14213D;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

p
{
  color: #14213D;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.priceBtn
{
  background-color: #590D22;
  color: #FFFFFF;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: right;
  margin-top: -50px;
}

  .unitdetailscard
  {
    margin: auto;
    margin-top: 40px;
    width: 800px;
    height: fit-content;
  }
  .locationcard
  {
    margin: auto;
    margin-top: 40px;
    width: 800px;
    height: 200px;
  }
  
  
  .cityselect
  {
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Trebuchet MS';
  }
  
  .zipcode
  {
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Trebuchet MS';
  }
  .locationicon
  {
    color: #14213D;
    font-size: 35px;
    margin: auto;
  }
  .unitdetails{
    color: #14213D;
    font-size: 25px;
    font-family: 'Trebuchet MS';
  }
  .servicelocation
  {
    color: #14213D;
    margin-top: -33px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS';
  }
  .propertyselect
  {
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Trebuchet MS';
  }
  .routerLink
  {
    color: white;
  }
  
  #mapid 
  { 
    height: 270px;
    width: 420px;
    margin-left: 50px;
    margin-top: 40px;
  }
  .contactcard
  {
    margin:0px;
    margin-top: 20px;
    width: 1100px;
    height: 480px;
  }
  
  .phoneicon
  {
    color: #14213D;
    font-size: 35px;
  }
  
  .contactdetails
  {
    color: #14213D;
    margin-top: -33px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS';
  }
  
  .h1address
  {
    font-family: 'Trebuchet MS';
    color: grey;
    font-size: 13px;
    margin-left: 50px;
  }
  
  .address
  {
     margin-left: 50px;
     margin-top: 10px;
     width: 420px;
     font-family: 'Trebuchet MS';
  }
  
  .checkbox
  {
     margin-top: -470px;
     margin-left: 570px;
  }
  
  .h1cb
  {
     font-size: 15px;
     font-family: 'Trebuchet MS';
     color: grey;
     margin-top: -40px;
  
  }
  
  .cbYes
  {
     margin-top: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS';
   color: grey;
  }
  
  .cbNo
  {
    font-size: 15px;
    font-family: 'Trebuchet MS';
    color: grey;
    margin-left: 150px;
  }
  .phonenumber{
    font-family: 'Trebuchet MS';
  }
  
  .fname
  {
    font-family: 'Trebuchet MS';
    
  }
  .lname
  {
    font-family: 'Trebuchet MS';
    margin-left: 20px;
  }
  
  .addressdetails
  {
    width: 430px;
    font-family: 'Trebuchet MS';
  }
  
  .instructions
  {
    width: 430px;
    font-family: 'Trebuchet MS';
  }
  
  .backBtn
  {
    margin-top: 30px !important;
    float: left !important;
    margin-left: 10px !important;
    font-size: 17px;
    font-family: 'Trebuchet MS';
    border-color: #dd0346 !important;
    color: #a4133c !important;
    width: 100px !important;
    height: 50px !important;
  }
  
  .nextBtn
  {
    margin-top: 30px !important;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    border-style: solid;
    border-width: thin;
    border-color: #dd0346 !important;
    width: 100px !important;
    height: 50px !important;
    float: right;
  }
  
  .schedcard
  {
    margin: auto;
    margin-top: 40px;
    width: 800px;
    height: 410px;
  }
  
  .schedicon
  {
    margin-top: 10px;
    color: #14213D;
    font-size: 35px;
  }
  
  .servicesched
  {
    color: #14213D;
    margin-top: -35px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Trebuchet MS';
  }
  
  .mat-stroked-button
  {
    margin-top: -10px;
    margin-left: 550px;
    border-color: #a4133c;
    height: 70px;
    width: 200px;
    font-family: 'Trebuchet MS';
  }
  
  .tech1Btn
  {
  margin-top: -100px;
  }
  
  .tech2Btn
  {
  margin-top: 10px;
  }
  
  .tech3Btn
  {
  margin-top: 10px;
  }
  
  .tech4Btn
  {
  margin-top: 10px;
  }
  
  .h1technicians
  {
   font-size: 12px;
   font-family: 'Trebuchet MS';
   color: #a4133c;
  }
  
  .listicon
  {
    margin-top: 10px;
    color: #14213D;
    font-size: 30px;
  }
  
  .detailssummary
  {
    color: #14213D;
    margin-top: -33px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS';
  }
  
  .editBtn
  {
     float: right;
     margin-right: 40px;
     margin-top: -45px;
  }
  
  .doneBtn
  {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background-color: #590D22;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    float: right;
  }
  
  .datepicker
  {
    margin-top: 70px;
    margin-left: 50px;
  }
  
  .dateBtn
  {
    
    margin-left: 20px;
    background-color: #a4133c;
    color: #FFFFFF;
    height: 52px;
    font-size: 16px;
    font-family: 'Trebuchet MS';
  }
  .timeslots
  {
    margin-top: -135px;
  }
  .timeslot
  {
    margin-top: -55px;
    float: right;
    margin-right: 75px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
  }
  .text_summary{
    text-align: center;
  }
  .summary{
    margin-top: 10px;
    text-align: center;
  }
  .details{
    width: fit-content;
    height: 100%;
    background-color: cornsilk;
    margin: auto;
  }
  .details_sum{
    width: fit-content;
    height: 100%;
    background-color: cornsilk;
    margin: auto;
    margin-top: 50px;
  }
  .ds{
    margin: auto;
    width: fit-content;
  }
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
  }
  

.airconselect
{
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Trebuchet MS';
}

.airconbrand
{
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Trebuchet MS';
}

.unittype
{
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Trebuchet MS';
}

.airconprob
{
    width: 690px;
    margin-left: 40px;
    margin-top: 10px;
    font-family: 'Trebuchet MS';
}
.addunit{
    font-family: 'Trebuchet MS';
    border-color: #FCA311;
    color: #14213D;
    font-size: 18px;
    margin-left: 140px;
    margin-top: 20px;
    height: 50px;
    width: 500px;
}

}

@media (max-width: 576px)
{
  .logo{
    width: 65%;
    height: 15%;
    padding-top: 10px;
    margin-left: 30px;
  }

  .mat-toolbar{
    background-color: #D62828;
    width: 100%;
  }

  .ayosgamit
{
  font-family: 'Candara';
  font-size: 20px;
  position: center;
  color: #FFFFFF;
}


.unitdetailscard
  {
    margin: auto;
    margin-top: 70px;
    width: fit-content;
    height: fit-content;
  }

.unitdetails{
  color: #14213D;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.locationcard
{
  margin: auto;
  margin-top: 70px;
  width: fit-content;
  height: fit-content;
}

.servicelocation
  {
    color: #14213D;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .servicesched
  {
  color: #14213D;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .timeslots
  {
    margin-top: 35px;
  }
  .timeslot
  {
  color: #14213D;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .h1technicians
  {
   font-size: 12px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #14213D;
  }

  .contactdetails
  {
    color: #14213D;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .h1address
  {
    color: #14213D;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .nextBtn
  {
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background-color: #D62828;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    margin-top: 25px;
    float: right;
  }

  .backBtn
  {
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background-color: #D62828;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    margin-top: 25px;
    float: left;
  }
  .CDbackBtn
  {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background-color: #D62828;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    float: left;
  }
  .doneBtn
  {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background-color: #F77F00;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    float: right;
  }

}