<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <br>
    <img class="logo" mat-card-image src="../../assets/mainlogo.png">
    <mat-nav-list class="nav-list">
      <div class="dashboardside">
        <mat-list-item (click)="closeSideNav()">
          <mat-icon class="nav-icon" aria-hidden="false" aria-label>dashboard</mat-icon>
          <a class="dashboard-btn" routerLink="/dashboard">Dashboard</a>
        </mat-list-item>
      </div>

      <div class="bookingside">
        <mat-list-item (click)="closeSideNav()">
          <mat-icon class="nav-icon" aria-hidden="false" aria-label="">insert_invitation</mat-icon>
          <a class="booking-btn" routerLink="/booking">Book a Service</a>
        </mat-list-item>
      </div>

      <div class="profileside">
        <mat-list-item (click)="closeSideNav()">
          <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
          <a class="profile-btn" routerLink="/profile">Profile</a>
        </mat-list-item>
      </div>

      <div class="logoutside">
        <mat-list-item (click)="closeSideNav()">
          <mat-icon class="nav-icon">exit_to_app</mat-icon>
          <a class="logout-btn" routerLink="/home">Logout</a>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="ayosgamit">Ayosgamit</h1>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="container">
      <form [formGroup]="serviceInfoForm" (ngSubmit)="serviceInfoSubmit()">
        <div class="card">
          <h1 class="infoLbl">Edit Address</h1>
          <p>
            <mat-form-field class="textfields" appearance="outline">
              <mat-label>Service Address</mat-label>
              <input matInput formControlName="address" [errorStateMatcher]="matcher" autocomplete="off">
              <mat-error *ngIf="serviceInfoForm.get('address').hasError('required')">
                Service Address is Required.
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="textfields" appearance="outline">
              <mat-label>Service Address Details</mat-label>
              <input matInput formControlName="addressDetails" [errorStateMatcher]="matcher" autocomplete="off">
              <mat-hint>unit no., floor no., building name, block no.</mat-hint>
              <mat-error *ngIf="serviceInfoForm.get('addressDetails').hasError('required')">
                Service Address Details is Required.
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="textfields" appearance="outline">
              <mat-label>Property Type</mat-label>
              <mat-select formControlName="property_type" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let ptype of property" [value]="ptype">
                  {{ptype}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="serviceInfoForm.get('property_type').hasError('required')">
                  You must make a selection
                </mat-error>
            </mat-form-field>
          </p>
        </div>
        <button class="backBtn" mat-raised-button routerLink="/profile"> Back </button>
        <button class="saveBtn" type="submit" mat-raised-button> Save </button>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>