<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
        <br>
        <mat-nav-list class="nav-list">
            <img class="logo" mat-card-image src="../../assets/mainlogo.png">
            <img class="adminvector" mat-card-image src="../../assets/customervector.png">

            <h1 class="sidetitle">{{fname}}</h1>
            <div class="dashboardside" (click)="goDashboard()">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label>home</mat-icon>
                    <a class="dashboard-btn">Home</a>
                </mat-list-item>
            </div>
            <div class="bookingside" routerLink="/booking">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">insert_invitation</mat-icon>
                    <a class="booking-btn">Book a Service</a>
                </mat-list-item>
            </div>
            <div class="profileside" routerLink="/profile">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon" aria-hidden="false" aria-label="">account_circle</mat-icon>
                    <a class="profile-btn">Profile</a>
                </mat-list-item>
            </div>

            <div class="logoutside" (click)="logout()">
                <mat-list-item (click)="closeSideNav()">
                    <mat-icon class="nav-icon">exit_to_app</mat-icon>
                    <a class="logout-btn">Logout</a>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
        </mat-toolbar>
        <div class="container">
            <!--REQUEST SUMMARY------------------------------------------------>
            <div>
                <button class="backBtn" routerLink="/dashboard" mat-icon-button>
                <mat-icon class="backicon">chevron_left</mat-icon>
              </button>
                <div>
                    <button mat-raised-button (click)="open(cancelReason)" class="cancelBtn">Cancel Request</button>
                </div>

                <mat-card class="summary">
                    <div>
                        <img class="remindervector" mat-card-image src="../../assets/reminder.png">
                        <h1 class="title">Booking Details</h1>

                        <label class="label">View your booking details.</label>

                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="header1">First Name</th>
                                <th class="header1">Last Name</th>
                                <th class="header1">Contact Number</th>
                                <th class="header1">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="body1">{{data.service_firstname}}</td>
                                <td class="body1">{{data.service_lastname}}</td>
                                <td class="body1">{{data.service_phoneNumber}}</td>
                                <td class="body1">{{data.service_address}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th class="header2">Address Details</th>
                                <th class="header2">City</th>
                                <th class="header2">Property Type</th>
                                <th class="header2">Barangay</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="body2">{{data.service_addressDetails}}</td>
                                <td class="body2">{{data.service_city}}</td>
                                <td class="body2">{{data.service_property_type}}</td>
                                <td class="body2">{{data.service_barangay}}</td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table">
                        <thead>
                            <tr>
                                <th class="header1">Appliance</th>
                                <th class="header1">Service</th>
                                <th class="header1">Brand</th>
                                <th class="header1">Unit Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="body1">{{data.service_appliance}}</td>
                                <td class="body1">{{data.service_type}}</td>
                                <td class="body1">{{data.service_brand}}</td>
                                <td class="body1">{{data.service_unitType}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th class="header2">Unit Problem</th>
                                <th class="header2">Scheduled Date</th>
                                <th class="header2">Time Slot</th>
                                <th class="header2">Instruction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="body2">{{data.service_unitProb}}</td>
                                <td class="body2">{{data.service_date | date}}</td>
                                <td class="body2">{{data.service_timeslot}}</td>
                                <td class="body2">{{data.service_instruction}}</td>

                            </tr>
                        </tbody>
                    </table>
                </mat-card>
            </div>
            <mat-card class="profilecard">
                <div class="mat-dialog-content">
                    <h2 class="techname">{{technician.fullname}}</h2>
                    <ng-template #t let-fill="fill">
                        <mat-icon class="star" [class.full]="fill === 100">star</mat-icon>
                    </ng-template>

                    <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                    <p class="contactnumber">ID: <b>{{technician.techID}}</b></p>
                    <p class="contactnumber">Gender &nbsp;&nbsp;&nbsp;&nbsp;Contact Number</p>
                    <p class="number">&nbsp;&nbsp;{{technician.gender}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{technician.number}}
                </div>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #cancelReason let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Are you sure ?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="cancelreasonForm">
        <div class="modal-body">
            <div>
                <h6>Please share the reason to serve you better next time </h6>
                <button mat-stroked-button class="radioBtn" value="Schedule conflict">
                    <input type="radio" value="Schedule conflict" formControlName="reason" required>&nbsp;Schedule conflict.
                </button>
                <button mat-stroked-button class="radioBtn" value="Problem went away">
                    <input type="radio" value="Problem went away" formControlName="reason" required>&nbsp;Problem went away.
                </button>
                <button mat-stroked-button class="radioBtn" value="Found another provider">
                    <input type="radio" value="Found another provider" formControlName="reason" required>&nbsp;Found another provider.
                </button>
                <button mat-stroked-button class="radioBtn" value="Personal emergency">
                    <input type="radio" value="Personal emergency" formControlName="reason" required>&nbsp;Personal emergency.
                </button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="close" class="btn btn-outline-primary" (click)="c('Close')">Keep my booking</button>
            <button type="button" class="btn btn-outline-danger" (click)="getConfirmation()">Cancel Request</button>
        </div>
    </form>
</ng-template>