<div class="details">
    <h1 class="title">Request Details</h1>

    <h1 class="titletech">Technician Assigned</h1>

    <button class="reschedBtn" mat-button (click)="openDialog()">Reschedule</button>
     
    <div>
    <mat-icon>account_circle</mat-icon>
    <h1 class="techname"> John Doe</h1>
    <h1 class="ratings"> Ratings: 4.5/5</h1>

</div>

<div>
    <h1 class="servicedets">Service Details</h1>
        <div>
            <h1 class="serviceid">Service ID</h1>
            <h1 class="servicetype">Service Type</h1>
            <h1 class="date">Date Requested</h1>
            <h1 class="sched">Scheduled Service</h1>
            
        </div>
        <div>
            <h1 class="serviceidr">1234</h1>
            <h1 class="servicetyper">Appliances Repair</h1>
            <h1 class="dater">May 07, 2021</h1>
            <h1 class="schedr">May 9, 2021 | 10:00am-1:00pm</h1>
            
        </div>

        <div>
            <h1 class="serviceadd">Service Address</h1>
        </div>
    <div>
        <h1 class="serviceid">Service City</h1>
        <h1 class="servicetype">Zipcode</h1>
        <h1 class="date">Service Address</h1>
        <h1 class="sched">Instructions</h1>
        
    </div>
    <div>
        <h1 class="servicect">Makati City</h1>
        <h1 class="zipcode">1226</h1>
        <h1 class="add">Blk 16 Lot 7. Sadico St.</h1>
        <h1 class="ins">Insert Instructions</h1>
        
    </div>
</div>
</div>
