<body>
    
        <div>
            <h1 class="airconrepair">Aircon Cleaning</h1>
            <h2 class="airconfee">Window Type: Php 600</h2>
            <h2 class="airconfee">Split Type: Php 1,200</h2>
            <h2 class="airconfee">Tower Type: Php 1,900</h2>
            <h2 class="airconfee">Cassette Type: Php 2,800</h2>
            <h2 class="airconfee">Suspended Type: Php 2,800</h2>
            <h2 class="airconfee">Concealed Type: Php 2,200</h2>
            <h1 class="cleaningservice1">
                <mat-icon class="text_icon"><b>done</b></mat-icon>Pressure washing of the unit
            </h1>
            <h1 class="cleaningservice2">
                <mat-icon class="text_icon"><b>done</b></mat-icon> Condenser and filter cleaning
            </h1>
            <h1 class="cleaningservice2">
                <mat-icon class="text_icon"><b>done</b></mat-icon> Cooling coils and fan inspection
            </h1>
        </div>
   
</body>