<html>
  <body>
<div class=mat-dialog-content>
  <div fxLayoutAlign="end">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>
   
</div>  

<!--Property Type-->    
<div>
    <h1 class="h1title">Unit Details</h1>
</div> 

<div>
    <mat-form-field class="electricfanselect" appearance="outline">
        <mat-label>Electric Fan Type</mat-label>
      <mat-select>
        <mat-option *ngFor="let eft of efan_type" [value]="eft">
          {{eft}}
        </mat-option>
       </mat-select>
    </mat-form-field>

    <mat-form-field class="electricfanbrand" appearance="outline">
        <mat-label>Brand</mat-label>
      <mat-select>
        <mat-option *ngFor="let efb of efan_brand" [value]="efb">
          {{efb}}
        </mat-option>
       </mat-select>
    </mat-form-field>

    <mat-form-field class="unittype" appearance="outline">
        <mat-label>Unit Type</mat-label>
      <mat-select>
        <mat-option *ngFor="let efut of efan_unitType" [value]="efut">
          {{efut}}
        </mat-option>
       </mat-select>
    </mat-form-field>

    <div>
        <mat-form-field class="electricfanprob" appearance="outline">
            <mat-label>Unit Problem</mat-label>
            <mat-select>
              <mat-option *ngFor="let efup of efan_unitProblem" [value]="efup">
                {{efup}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div>
        <button class="addunit" mat-stroked-button><mat-icon>add_box</mat-icon>Add unit</button>
    </div>

    <div>
        <button class="done" mat-raised-button routerLink="/servicedetails" mat-dialog-close>Next</button>
        
    </div>
</div> 
</body>
</html>
